@import '~bootstrap';
@import '~bootstrap-vue';
@import "~vue-select/src/scss/vue-select.scss";

:root{
  --main-yellow: #FBBC06;
}

$mainYellow: var(--main-yellow);
$mainYellowTrans: rgba(255, 210, 10,.6);
$lightGray: #E9E9E9;
$normalGray: #DADADA;
$lightBlue: #F6F4FC;
$darkText: #444444;
$lightText: #9A9AAA;
$backgroundGray: #E5E5E5;
$boxShadow: 0 0 15px rgba(0,0,0,.1);
$boxRadius: 10px;

//normalize
body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto',sans-serif !important;
  color: $darkText;
}
.row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
p{
  font-size: 14px;
  color: $lightText;
}
a{
  font-size: 14px;
}

@import "utils/utilities";
@import "utils/text";
@import "utils/scrollbar";

@import "components/buttons";
@import "components/modals";
@import "components/inputs";
@import "components/tabs";
@import "components/dropdowns";
@import "components/pagination";
@import "components/cards";
@import "components/tables";


@import "pages/sidebar";
