/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;

  /* Track */
  &-track {
    border-radius: 10px;
  }

  /* Handle */
  &-thumb {
    background: #e6e6e6;
    border-radius: 10px;
  }

  /* Handle on hover */
  &-thumb:hover {
    background: #bebebe;
  }

}