.heading{
  font-size: 28px;
  font-weight: 700;
}

.heading2{
  font-size: 18px;
  font-weight: 700;
  color: $darkText;
}

.heading3{
  font-size: 16px;
  font-weight: 700;
  color: $darkText;
}

.link-muted{
  color: #9A9AAA !important;
}
.line-with-text{
  position: relative;
  border-top: 1px solid $lightGray;
  &__text{
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    span{
      background: white;
    }
  }
}

.text-strong{
  font-weight: 700;
}

.text-normal{
  font-weight: 300;
}

.text-dark{
  color: $darkText;
}

.text-primary{
  color: $mainYellow;
}

.text-capitalize{
  text-transform: capitalize;
}

.text-no-decoration{
  text-decoration: none;
}