.div-image{
  background-size: cover;
  background-repeat: no-repeat;
  &.parallax{
    background-attachment: fixed;
  }
}

.vh-height{
  height: 100vh !important;
}

.vh-min-height{
  min-height: 100vh;
}

.hover-grow{
  transition: all .3s;
  &:hover{
    box-shadow: 0 0 20px rgba(black, .3);
    transform: scale(1.02);
    cursor: pointer;
  }
  &-no-shadow:hover{
    transform: scale(1.02);
    cursor: pointer;
  }
}

.bg-custom-gray{
  background: $lightBlue;
}

.bg-custom-yellow{
  background: $mainYellow;
}


