<template>
    <div>
        <div v-if="isLoading" class="p-5 d-flex justify-content-center align-items-center">
            <vue-loaders name="ball-spin-fade-loader" color="#FBBC06"></vue-loaders>
        </div>
        <ValidationObserver v-if="!isLoading" ref="observer" tag="form" @submit.prevent="onSubmit">
            <small class="text-danger">{{error}}</small>
            <p v-if="tokenFees.length === 0">{{$t('alerts.no_records_found')}}</p>
            <table class="table table-striped table-borderless">
                <tbody>
                    <tr v-for="tokenFee in tokenFees" :key="tokenFee.id">
                        <td class="row justify-content-between align-items-center py-4">
                            <div class="col col-auto d-flex align-items-center">
                                <div class="mr-3">
                                    <img :src="'data:image/png;base64,'+tokenFee.icon" :alt="tokenFee.name" width="60px">
                                </div>
                                <div>
                                    <p class="text-dark mb-0 heading3">{{tokenFee.name}}</p>
                                    <p class="text-dark mb-0">{{tokenFee.token_quantity}} tokens x {{tokenFee.total}}</p>
                                </div>
                            </div>
                            <div v-if="tokenFee.is_base" class="col col-auto">
                                <ValidationProvider :rules="form.token_fee_detail_id === tokenFee.id ? 'required':''" v-slot="{ errors }" name="tokens">
                                    <b-form-input
                                            id="input-quantity"
                                            v-model="quantityHelper"
                                            placeholder="TKNS"
                                            style="width: 80px; background-color: white !important;"
                                            type="number">
                                    </b-form-input>
                                    <small class="text-danger">{{paintErrors(errors[0])}}</small>
                                </ValidationProvider>
                            </div>
                            <div class="col col-auto">
                                <b-form-radio v-model="form.token_fee_detail_id"
                                              name="token-fee-selected"
                                              @change="selectTokenFee(tokenFee)"
                                              :value="tokenFee.id"></b-form-radio>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr class="my-4">
            <b-button type="submit" variant="primary">{{$t('buttons.submit')}}</b-button>
        </ValidationObserver>
    </div>
</template>

<script>

    export default {
        name: 'RefillForm',
        components: {},
        data() {
            return {
                isLoading: true,
                tokenFees:[],
                form:{
                    token_fee_detail_id: "",
                    quantity: ""
                },
                error:"",
                quantityHelper:"1",
                isBaseHelper: true
            }
        },
        props:[],
        mounted(){
            this.getTokenFee();
        },
        methods:{
            async onSubmit(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    this.$bus.$emit('loading');
                    try{
                        if(this.isBaseHelper){
                            this.form.quantity = this.quantityHelper;
                        }
                        let resp =  await this.$services.PaypalService.createPayment(this.form);
                        window.open(resp.data.url);
                        this.$bus.$emit('loading-close');
                    }catch (e) {
                        this.$bus.$emit('loading-close');
                        this.errorAlert(e)
                    }
                } else {
                    this.errorAlert(this.$t('alerts.form_errors'))
                }
            },
            async getTokenFee(){
                this.isLoading = true;
                try {
                    //let resp = await TokenFeeService.lastTokenFee();
                    let resp = await this.$services.TokenFeeService.lastTokenFee()
                    this.tokenFees = resp.data;
                    if(this.tokenFees.length > 0) {
                        this.form.token_fee_detail_id = this.tokenFees[0].id;
                    }
                    this.isLoading = false;
                }catch (e) {
                    this.isLoading = false;
                    this.errorAlert(e)
                }
            },
            selectTokenFee(tokenFee){
                this.isBaseHelper = tokenFee.is_base;
                if(!tokenFee.is_base){
                    this.form.quantity = tokenFee.token_quantity;
                }
            },
            paintErrors(e){
               this.error = e;
               return "";
            }
        }
    }
</script>

