<template>
    <div>
        <transition name="fade"
                    mode="out-in">
            <div v-if="isLoading" class="p-5 d-flex justify-content-center align-items-center">
                <vue-loaders name="ball-spin-fade-loader" color="#FBBC06"></vue-loaders>
            </div>
            <div v-if="!isLoading">
                <p v-if="items.length === 0">{{$t('alerts.no_records_found')}}</p>
                <div v-for="tokenBuy in items" :key="tokenBuy.id" class="row bg-custom-gray mb-2 p-4 justify-content-between">
                    <div class="col col-12 col-md-6 col-lg-auto px-0">
                        <p class="mb-1">ID</p>
                        <p class="mb-0 text-strong text-dark">{{tokenBuy.id}}</p>
                    </div>
                    <div class="col col-12 col-md-6 col-lg-auto px-0">
                        <p class="mb-1">{{$t('pages.balance.date')}}</p>
                        <p class="mb-0 text-strong text-dark">{{$moment(tokenBuy.date_approved,"X").format('YYYY-MM-DD')}}</p>
                    </div>
                    <div class="col col-12 col-md-6 col-lg-auto px-0">
                        <p class="mb-1">{{$t('pages.balance.type')}}</p>
                        <p class="mb-0 text-strong text-dark">{{Number(tokenBuy.type) === 1 ? $t('pages.balance.refill') : $t('pages.balance.withdrawal')}}</p>
                    </div>
                    <div class="col col-12 col-md-6 col-lg-auto px-0">
                        <p class="mb-1">Tokens</p>
                        <p :class="'mb-0 text-strong '+(Number(tokenBuy.type) === 1 ? 'text-success' : 'text-danger')">
                            {{tokenBuy.quantity}}
                        </p>
                    </div>
                    <div class="col col-12 col-lg-auto p-0 text-right">
                        <a class="text-danger" href="javascript:void(0)" @click="deleteDocument(tokenBuy.id)"><b-icon-trash-fill /></a>
                    </div>
                </div>
            </div>
        </transition>
        <b-pagination
                class="mt-5"
                v-model="currentPage"
                :total-rows="rows"
                :per-page="perPage"
                align="center"
                @change="(page)=>getItems(page)"
        ></b-pagination>
    </div>
</template>

<script>

    export default {
        name: 'TokensRefills',
        components: {},
        data() {
            return {
                isLoading: true,
                currentPage:1,
                rows:0,
                perPage: 10,
                items:[]
            }
        },
        props:[],
        mounted() {
            this.getItems()
        },
        methods:{
            async getItems(page = 1){
                this.isLoading = true;
                try {
                    //let resp = await TokenBuyService.all(page);
                    let resp = await this.$services.TokenBuyService.all(page);
                    this.isLoading = false;
                    this.items = resp.data.data;
                    this.rows = resp.data.total;
                    this.currentPage = resp.data.current_page;
                    this.perPage = resp.data.per_page;
                }catch (e) {
                    this.isLoading = false;
                    this.errorAlert(e);
                }
            },
            async deleteDocument(id){
                let resp = await this.questionAlert(this.$t('alerts.delete_record'));
                if(resp.isConfirmed) {
                    this.isLoading = true;
                    try {
                        await this.$services.TokenBuyService.deleteTokenBuy(id);
                        this.isLoading = false;
                        await this.successAlert(this.$t('alerts.update_success'));
                        this.getItems();
                    } catch (e) {
                        this.isLoading = false;
                        this.errorAlert(e);
                    }
                }
            },
        },
        watch:{
        },
        computed:{

        }
    }
</script>

