<template>
    <div>
        <ValidationObserver ref="observer" tag="form" @submit.prevent="onSubmit">
            <div class="row">
                <div class="col col-12 col-md-6 px-1 mt-3">
                    <ValidationProvider rules="required" v-slot="{ errors }" name="old_password">
                        <b-form-group
                                :label="$t('formNames.old_password')"
                                label-for="input-old-password">
                            <b-form-input
                                    id="input-old-password"
                                    v-model="form.old_password"
                                    type="password"
                                    required>
                            </b-form-input>
                        </b-form-group>
                        <small class="text-danger">{{errors[0]}}</small>
                    </ValidationProvider>
                </div>
                <div class="col col-12 col-md-6 px-1 mt-3">
                    <ValidationProvider rules="required|min:6" v-slot="{ errors }" name="new_password" vid="password">
                        <b-form-group
                                :label="$t('formNames.new_password')"
                                label-for="input-new-password">
                            <b-form-input
                                    id="input-new-password"
                                    v-model="form.new_password"
                                    type="password"
                                    required>
                            </b-form-input>
                        </b-form-group>
                        <small class="text-danger">{{errors[0]}}</small>
                    </ValidationProvider>
                </div>
                <div class="col col-12 col-md-6 px-1 mt-3">
                    <ValidationProvider rules="required|confirmed:password|min:6" v-slot="{ errors }" name="password_confirmation">
                        <b-form-group
                                :label="$t('formNames.password_confirmation')"
                                label-for="input-password-confirmation">
                            <b-form-input
                                    id="input-password-confirmation"
                                    v-model="form.new_password_confirmation"
                                    type="password"
                                    required>
                            </b-form-input>
                        </b-form-group>
                        <small class="text-danger">{{errors[0]}}</small>
                    </ValidationProvider>
                </div>
            </div>
            <div class="row align-items-center mt-3">
                <b-button type="submit" variant="primary btn-sm ml-2">{{$t('buttons.update')}}</b-button>
            </div>
        </ValidationObserver>
    </div>
</template>

<script>

    export default {
        name: 'ChangePasswordForm',
        components: {},
        data() {
            return {
                form:{
                    old_password:"",
                    new_password:"",
                    new_password_confirmation:""
                },
            }
        },
        methods:{
            async onSubmit(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    this.$bus.$emit('loading');
                    try{
                        await this.$services.AuthService.updatePassword(this.form);
                        this.form = {
                            old_password:"",
                            new_password:"",
                            new_password_confirmation:""
                        };
                        this.$bus.$emit('loading-close');
                        this.successAlert(this.$t('alerts.update_success'));
                    }catch (e) {
                        this.$bus.$emit('loading-close');
                        this.errorAlert(e)
                    }
                } else {
                    this.errorAlert(this.$t('alerts.form_errors'))
                }
            },
        },
        props:[],
        mounted() {

        },
        computed:{
        }
    }
</script>

