<template>
    <div>
        <ValidationObserver ref="observer" tag="form" @submit.prevent="onSubmit">
            <ValidationProvider rules="required|image" v-slot="{ errors }" name="image">
                <b-form-file
                        v-model="form.avatar"
                        :placeholder="$t('formNames.file')"
                        accept="image/*"
                ></b-form-file>
                <small class="text-danger">{{errors[0]}}</small>
            </ValidationProvider>
            <div class="row align-items-center mt-3">
                <b-button type="submit" variant="primary btn-sm">{{$t('buttons.submit')}}</b-button>
            </div>
        </ValidationObserver>
    </div>
</template>

<script>

    export default {
        name: 'ChangeAvatarForm',
        components: {},
        data() {
            return {
                form:{
                    avatar:[],
                },
            }
        },
        methods:{
            async onSubmit(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    this.$bus.$emit('loading');
                    try{
                        let formData = new FormData();
                        formData.append('avatar',this.form.avatar);
                        let resp = await this.$services.AuthService.updateInfo(formData, true);
                        this.$auth.setUser(resp.data);
                        this.$bus.$emit('loading-close');
                        this.successAlert(this.$t('alerts.update_success'));
                        this.$bvModal.hide('modal-upload-image')
                    }catch (e) {
                        this.$bus.$emit('loading-close');
                        this.errorAlert(e)
                    }
                } else {
                    this.errorAlert(this.$t('alerts.form_errors'))
                }
            },
        },
        props:[],
        mounted() {

        },
        computed:{
        }
    }
</script>

