<template>
    <div>
        <transition name="fade"
                    mode="out-in">
            <div v-if="isLoading" class="p-5 d-flex justify-content-center align-items-center">
                <vue-loaders name="ball-spin-fade-loader" color="#FBBC06"></vue-loaders>
            </div>
            <div v-if="!isLoading">
                <div v-if="occupations.length > 0" class="row justify-content-end my-3" >
                    <simple-select-dropdown @optionChanged="(item)=>{changeOccupation(item)}"
                                            :options="occupations" :option-selected="occupationSelected" />
                </div>
                <div v-if="occupations.length > 0 && comments.length > 0">
                    <div class="row border-bottom py-3" v-for="comment in comments" :key="comment.id">
                        <div class="div-image rounded-circle col-auto mt-2" :style="'background-image: url('+comment.user.avatar+'); width: 50px; height: 50px;'" ></div>
                        <div class="col px-0">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-auto">
                                    <p class="mb-0">
                                        <span class="heading3 mr-2">{{comment.user.full_name}} </span>
                                        {{$moment(comment.created_at,"X").locale($i18n.locale).format("dddd, MMMM Do YYYY")}}
                                    </p>
                                </div>
                                <div class="col-auto">
                                    <b-form-rating v-model="comment.score" readonly show-value precision="1" style="width: auto"></b-form-rating>
                                </div>
                                <div class="col-12">
                                    <p class="text-justify">{{comment.body}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p v-if="occupations.length === 0 || comments.length === 0">
                    {{$t('pages.profile.no_comments')}}
                </p>
            </div>

        </transition>
        <b-pagination
                class="mt-5"
                v-model="currentPage"
                :total-rows="rows"
                :per-page="perPage"
                align="center"
                @change="(page)=>getComments(occupationSelected.key,page,true)"
        ></b-pagination>
    </div>
</template>

<script>

    import SimpleSelectDropdown from "@/components/SimpleSelectDropdown";

    export default {
        name: 'CommentsList',
        components: {SimpleSelectDropdown},
        data() {
            return {
                isLoading: true,
                occupations:[],
                occupationSelected:{key:'', label:''},
                currentPage:1,
                rows:0,
                perPage: 10,
                comments:[]
            }
        },
        props:[],
        methods:{
            async getOccupations(){
                try {
                    let resp = await this.$services.UserOccupationService.authUserOccupations();
                    this.occupations = resp.data.map(item=>{
                        return {key: item.id, label: item.name, icon:'data:image/png;base64,'+item.icon}
                    });
                    if(this.occupations.length > 0) {
                        this.occupationSelected = this.occupations[0];
                        this.getComments(this.occupationSelected.key)
                    }else{
                        this.isLoading = false;
                    }
                }catch (e) {
                    this.errorAlert(e)
                }
            },
            changeOccupation(item){
                this.getComments(item.key);
                this.occupationSelected = item;
            },
            async getComments(occupationId, page = 1, focusCard = false){
                this.isLoading = true;
                try {
                    let resp = await this.$services.UserOccupationService.userOccupationComments(occupationId, this.userAuth.id, page);
                    this.comments = resp.data.data;
                    this.rows = resp.data.total;
                    this.currentPage = resp.data.current_page;
                    this.perPage = resp.data.per_page;
                    this.isLoading = false;
                    if(focusCard) {
                        document.querySelector('#comments-card').scrollIntoView({
                            behavior: "smooth",
                            block: "start",
                            inline: "nearest"
                        })
                    }
                }catch (e) {
                    this.errorAlert(e)
                }
            }
        },
        computed:{

        },
        mounted() {
            this.getOccupations()
        }
    }
</script>

