<template>
    <div>
        <transition name="fade"
                    mode="out-in">
        <div v-if="isLoading" class="p-5 d-flex justify-content-center align-items-center">
            <vue-loaders name="ball-spin-fade-loader" color="#FBBC06"></vue-loaders>
        </div>
        <ValidationObserver v-if="!isLoading" ref="observer" tag="form" @submit.prevent="onSubmit">
            <div class="row">
                <div class="col col-12 col-md-6 px-1 mt-3">
                    <ValidationProvider rules="required" v-slot="{ errors }" name="full_name">
                        <b-form-group
                                :label="$t('formNames.full_name')"
                                label-for="input-name">
                            <b-form-input
                                    id="input-name"
                                    v-model="form.full_name"
                                    type="text"
                                    required>
                            </b-form-input>
                        </b-form-group>
                        <small class="text-danger">{{errors[0]}}</small>
                    </ValidationProvider>
                </div>
                <div class="col col-12 col-md-6 px-1 mt-3">
                    <ValidationProvider rules="" v-slot="{ errors }" name="nick">
                        <b-form-group
                                :label="$t('formNames.nick')"
                                label-for="input-nick">
                            <b-form-input
                                    id="input-nick"
                                    v-model="form.nick"
                                    type="text">
                            </b-form-input>
                        </b-form-group>
                        <small class="text-danger">{{errors[0]}}</small>
                    </ValidationProvider>
                </div>
                <div class="col col-12 col-md-6 px-1 mt-3">
                    <ValidationProvider rules="required|email" v-slot="{ errors }" name="email">
                        <b-form-group
                                :label="$t('formNames.email')"
                                label-for="input-email">
                            <b-form-input
                                    id="input-email"
                                    v-model="form.email"
                                    type="text"
                                    required>
                            </b-form-input>
                        </b-form-group>
                        <small class="text-danger">{{errors[0]}}</small>
                    </ValidationProvider>
                </div>
                <div class="col col-12 col-md-6 px-1 mt-3">
                    <ValidationProvider rules="required" v-slot="{ errors }" name="country_of_residence">
                        <b-form-group
                                :label="$t('formNames.country_of_residence')"
                                label-for="input-country">
                            <v-select class="custom-autocomplete"
                                      label="name"
                                      :reduce="country => country.id"
                                      v-model="form.country_id"
                                      :options="optionsCountry"></v-select>
                        </b-form-group>
                        <small class="text-danger">{{errors[0]}}</small>
                    </ValidationProvider>
                </div>
                <div class="col col-12 col-md-6 px-1 mt-3">
                    <ValidationProvider rules="required|numeric" v-slot="{ errors }" name="document">
                        <b-form-group
                                :label="$t('formNames.document')"
                                label-for="input-document">
                            <b-form-input
                                    id="input-document"
                                    v-model="form.document"
                                    type="text">
                            </b-form-input>
                        </b-form-group>
                        <small class="text-danger">{{errors[0]}}</small>
                    </ValidationProvider>
                </div>
                <div class="col col-12 col-md-6 px-1 mt-3">
                    <ValidationProvider rules="required" v-slot="{ errors }" name="address">
                        <b-form-group
                                :label="$t('formNames.address')"
                                label-for="input-address">
                            <b-form-input
                                    id="input-address"
                                    v-model="form.address"
                                    type="text">
                            </b-form-input>
                        </b-form-group>
                        <small class="text-danger">{{errors[0]}}</small>
                    </ValidationProvider>
                </div>
                <div class="col col-12 col-md-6 px-1 mt-3">
                    <ValidationProvider rules="numeric" v-slot="{ errors }" name="telephone">
                        <b-form-group
                                :label="$t('formNames.telephone')"
                                label-for="input-telephone">
                            <b-form-input
                                    id="input-telephone"
                                    v-model="form.telephone"
                                    type="text">
                            </b-form-input>
                        </b-form-group>
                        <small class="text-danger">{{errors[0]}}</small>
                    </ValidationProvider>
                </div>
                <div class="col col-12 col-md-6 px-1 mt-3">
                    <ValidationProvider rules="required" v-slot="{ errors }" name="birth">
                        <b-form-group
                                :label="$t('formNames.birth')"
                                label-for="input-birth">
                            <b-form-datepicker id="input-birth"
                                               v-model="dateHelper"
                                               :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                                               :locale="$i18n.locale"
                                               class="mb-2">
                            </b-form-datepicker>
                        </b-form-group>
                        <small class="text-danger">{{errors[0]}}</small>
                    </ValidationProvider>
                </div>
                <div class="col col-12 px-1 mt-3">
                    <ValidationProvider rules="required" v-slot="{ errors }" name="available">
                        <b-form-checkbox
                                id="checkbox-1"
                                v-model="form.available"
                                name="checkbox-1"
                                :value="true"
                                :unchecked-value="false"
                        >
                            {{$t('formNames.available')}}
                        </b-form-checkbox>
                        <small class="text-danger">{{errors[0]}}</small>
                    </ValidationProvider>
                    <ValidationProvider rules="required" v-slot="{ errors }" name="politically_exposed">
                        <b-form-checkbox
                                id="checkbox-2"
                                v-model="form.polymanete_exposed"
                                name="checkbox-2"
                                :value="true"
                                :unchecked-value="false"
                        >
                            {{$t('formNames.politically_exposed')}}
                        </b-form-checkbox>
                        <small class="text-danger">{{errors[0]}}</small>
                    </ValidationProvider>
                </div>
            </div>
            <div class="row align-items-center mt-3">
                <b-button type="submit" variant="primary btn-sm ml-2">{{$t('buttons.update')}}</b-button>
            </div>
        </ValidationObserver>
        </transition>
    </div>
</template>

<script>
    export default {
        name: 'ProfileForm',
        components: {},
        data() {
            return {
                form:{
                    full_name:'',
                    nick:'',
                    email:'',
                    country_id:"",
                    date_birth:"",
                    available:true,
                    polymanete_exposed:true,
                    telephone:"",
                    address:""
                },
                dateHelper: "",
                optionsCountry:[],
                isLoading: true
            }
        },
        methods:{
            async onSubmit(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    this.$bus.$emit('loading');
                    try{
                        this.form.date_birth = this.$moment(this.dateHelper,"YYYY-MM-DD");
                        const respuesta =  await this.$services.AuthService.updateInfo(this.form);
                        this.$auth.setUser(respuesta.data);
                        this.$bus.$emit('loading-close');
                        this.successAlert(this.$t('alerts.update_success'));
                    }catch (e) {
                        this.$bus.$emit('loading-close');
                        this.errorAlert(e)
                    }
                } else {
                    this.errorAlert(this.$t('alerts.form_errors'))
                }
            },
            async getCountries(){
                try {
                    this.optionsCountry = (await this.$services.CountryService.all()).data;
                    if(this.userAuth.country_id){
                        this.form.country_id = this.userAuth.country_id;
                    }
                    this.isLoading = false;
                }catch (e) {
                    this.isLoading = false;
                    this.errorAlert(e)
                }
            },
        },
        props:[],
        mounted() {
            this.form.full_name = this.userAuth.full_name;
            this.form.nick = this.userAuth.nick;
            this.form.email = this.userAuth.email;
            this.form.country_id = this.userAuth.country_id;
            this.form.date_birth = this.userAuth.date_birth;
            this.form.available = this.userAuth.available;
            this.form.polymanete_exposed = this.userAuth.polymanete_exposed;
            this.form.document = this.userAuth.document;
            this.form.telephone = this.userAuth.telephone;
            this.form.address = this.userAuth.address;
            this.dateHelper = this.$moment(this.userAuth.date_birth,"X").format('YYYY-MM-DD');
            this.getCountries();
        },
        computed:{

        }
    }
</script>

