.btn-primary{
  background: $mainYellow;
  color: white;
  border-color: $mainYellow;
  &:hover{
    box-shadow: 0 0 20px $mainYellow !important;
    background: $mainYellow;
    border-color: $mainYellow;
  }
  &:focus, &.focus {
    color: #fff;
    background-color: $mainYellow;
    border-color: $mainYellow;
    box-shadow: 0 0 0 5px $mainYellowTrans !important;
  }
  &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active, .show > &.dropdown-toggle {
    background-color: $mainYellow;
    border-color: $mainYellow;
  }
}
.btn-secondary{
  background: white;
  color: $mainYellow;
  border-color: $mainYellow;
  &:hover{
    background: $mainYellow;
    border-color: $mainYellow;
    box-shadow: none !important;
    transform: scale(1);
  }
}
.btn{
  transition: all .3s;
  padding: 6px 25px;
  text-transform: uppercase;
  &:hover{
    box-shadow: 0 0 20px rgba(black, .3);
    transform: scale(1.02);
  }
}

.custom-dropdown{
  color: black;
  font-size: 14px;
  padding: 0 0;
  &:hover{
    box-shadow: none;
  }
}
