.dropdown-menu{
  min-width: 0 !important;
  border: none !important;
  box-shadow: $boxShadow;
  border-radius: 10px;
  visibility: hidden;
  opacity:0;
  //transform: translateY(50px);
  transition:.5s ease all;
  &.show{
    visibility: visible;
    opacity:1;
    //transform: translateY(0px);
    transition:.5s ease all;
    top: 10px !important;
  }
  .dropdown-item{
    padding-top: 8px;
    padding-bottom: 8px;
    &:hover{
      background: $lightBlue;
    }
    &:active,&:focus{
      color: initial;
      background: $normalGray;
    }
  }
}