.form-group{
  margin-bottom: 0;
}
label{
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0;
  color: $darkText;
}
input:not(.vs__search){
  background: $lightBlue !important;
  border: 1px solid $lightGray !important;
  font-size: 14px;
}

/** LITTLE EYE IN THE PASSWORD FIELD **/
.input-icon{
  z-index: 2;
  margin-top: -33px;
  padding-right: 10px;
  display: inline-block;
  color: $normalGray;
  float: right;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  &:hover{
    color: darken($normalGray,10%);
  }
}

/** RADIO AND CHECKBOXES **/
.custom-control-label{
  font-weight: 400 !important;
  &::before{
    top: 0;
  }
  &::after{
    background-position-y: 5%;

  }
}

.custom-control-input{
  &:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: $mainYellow;
    background-color: $mainYellow;
  }
  &:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 10px $mainYellowTrans;
  }
  &:focus:not(:checked) ~ .custom-control-label::before {
    border-color: $mainYellow;
  }
  &:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    background-color: $mainYellow;
    border-color: $mainYellow;
  }
}

/** STAR RATING **/
.b-rating{
  border: none !important;
  color: $mainYellow;
  padding: 0 !important;
  .b-rating-value{
    color: $darkText !important;
  }
}

/** AUTOCOMPLETE **/
.custom-autocomplete{
  & .vs__search::placeholder,
  & .vs__dropdown-toggle,
  & .vs__dropdown-menu {
    background: $lightBlue;
    border: 1px solid $lightGray;
    color: #495057;
    font-size: 14px;
  }

  & .vs__clear,
  & .vs__open-indicator {
    fill: #495057;
  }
}


/**custom input variant 2**/
input.input2{
  background: white !important;
  border: none !important;
  border-bottom: 1px solid $lightGray !important;
  padding-left: 0 !important;
  padding-bottom: 0 !important;
  &:focus{
    box-shadow: none !important;
    border-bottom: 3px solid $mainYellow !important;
  }
}


.b-form-datepicker{
  background: #F6F4FC !important;
  border: 1px solid #E9E9E9 !important;
  font-size: 14px;
}


