.modal-title{
  font-size: 20px;
  font-weight: 700;
}
.modal-header {
  border-bottom: none;
  padding-bottom: 0;
}
.modal-content{
  border: none;
  padding: 15px;
  box-shadow: 0 0 30px rgba(0,0,0,.3);
}
.modal.fade.show{
  background: transparent;
  backdrop-filter: blur(2px);
}