.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: $mainYellow;
  border-color: $mainYellow;
}

.page-link:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem $mainYellowTrans;
}

.page-link{
  color: #6c757d;
  background: $lightBlue;
  border: none;
  transition: all .3s;
  &:disabled{
    background: $lightBlue;
  }
  &:hover {
    color: $mainYellow;
    transform: scale(1.2);
    z-index: 5;
  }
}

.page-item.disabled .page-link {
  background: $lightBlue;
}

.page-item:first-child .page-link {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.page-item:last-child .page-link  {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}