.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
color: #495057;
background-color: #fff;
border-color: transparent;
border-bottom: 4px solid $mainYellow !important;
font-weight: 700;
}

.nav-link{
color: $lightText;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
border: none;
color: $darkText;
}

.nav-item:focus, .nav-item:focus .nav-link, .nav-link:focus{
outline: none !important;
}
