table.table{
  th{
    font-size: 14px;
  }
  td{
    font-size: 14px;
    color: $lightText;
  }
  &.table-custom-primary{
    th{
      color: white;
      background: $mainYellow;
      box-shadow: 0 0 15px $mainYellowTrans;
      border-color: $mainYellow !important;
    }
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: $lightBlue;
}