<template>
    <div>
        <b-dropdown :variant="'link custom-dropdown '+classCustom" :style="styleCustom"
                    toggle-class="text-decoration-none" no-caret>
            <template v-slot:button-content>
                <div class="d-flex align-items-center">
                    <div v-if="selected.icon" class="div-image rounded-circle mr-2" :style="'background-image: url('+selected.icon+'); width: 30px; height: 30px;'" ></div>
                   <div>{{selected.label}} &#9660;</div>
                </div>
            </template>
            <b-dropdown-item v-for="option in options" :key="option.key" @click="()=>{selectOption(option)}" href="javascript:void(0)">
                <div :class="selected === option ? 'text-primary d-flex align-items-center':'d-flex align-items-center'">
                    <div v-if="option.icon" class="div-image rounded-circle mr-2" :style="'background-image: url('+option.icon+'); width: 30px; height: 30px;'" ></div>
                    <div>{{option.label}}</div>
                </div>
            </b-dropdown-item>
        </b-dropdown>
    </div>
</template>

<script>
    export default {
        name: 'SimpleSelectDropdown',
        components: {},
        data() {
            return {
                selected:this.$props.optionSelected
            }
        },
        computed:{

        },
        methods:{
          selectOption(option){
              this.selected = option;
              this.$emit('optionChanged',option)
          }
        },
        watch:{
            optionSelected(){
                this.selected = this.$props.optionSelected;
            }
        },
        props:['classCustom','styleCustom','options','optionSelected']
    }
</script>

