<template>
    <div>
        <ValidationObserver ref="observer" tag="form" @submit.prevent="onSubmit">
            <ValidationProvider rules="required|image" v-slot="{ errors }" name="image">
                <b-form-file
                        v-model="form.document"
                        :placeholder="$t('formNames.file')"
                        accept="image/*"
                ></b-form-file>
                <small class="text-danger">{{errors[0]}}</small>
            </ValidationProvider>
            <div class="row align-items-center mt-3">
                <b-button type="submit" variant="primary btn-sm">{{$t('buttons.submit')}}</b-button>
            </div>
        </ValidationObserver>
    </div>
</template>

<script>

    export default {
        name: 'AddDocumentForm',
        components: {},
        data() {
            return {
                form:{
                    document:[],
                },
            }
        },
        methods:{
            async onSubmit(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    if(this.$props.action === "create"){
                        this.create()
                    }else{
                        this.edit()
                    }
                } else {
                    this.errorAlert(this.$t('alerts.form_errors'))
                }
            },
            async create(){
                this.$bus.$emit('loading');
                try{
                    let formData = new FormData();
                    formData.append('document',this.form.document);
                    formData.append('document_id',this.$props.documentId);
                    formData.append('occupation_id',this.$props.occupationId);
                    await this.$services.UserOccupationService.addDocument(formData);
                    this.$bus.$emit('loading-close');
                    await this.successAlert(this.$t('alerts.update_success'));
                    this.$bvModal.hide('modal-upload-document');
                    this.$bus.$emit('reloadOccupation')
                }catch (e) {
                    this.$bus.$emit('loading-close');
                    this.errorAlert(e)
                }
            },
            async edit(){
                this.$bus.$emit('loading');
                try{
                    let formData = new FormData();
                    formData.append('document',this.form.document);
                    formData.append('document_id',this.$props.documentId);
                    formData.append('occupation_id',this.$props.occupationId);
                    console.log(formData.values())
                    await this.$services.UserOccupationService.updateDocument(formData);
                    this.$bus.$emit('loading-close');
                    await this.successAlert(this.$t('alerts.update_success'));
                    this.$bvModal.hide('modal-upload-document');
                    this.$bus.$emit('reloadOccupation')
                }catch (e) {
                    this.$bus.$emit('loading-close');
                    this.errorAlert(e)
                }
            },
        },
        props:['documentId','occupationId','action'],
        mounted() {

        },
        computed:{
        }
    }
</script>

