<template>
    <div>
        <b-modal id="modal-upload-document" :title="$t('pages.profile.upload_image')" centered hide-footer>
            <add-document-form :action="action" :document-id="addDocumentId" :occupation-id="occupationId" />
        </b-modal>
        <b-modal size="lg" v-model="showImg.modal" hide-footer>
            <img :src="showImg.img" width="100%">
        </b-modal>
        <h2 class="heading2">{{$t('pages.occupations.documents')}}</h2>
        <hr class="mb-5">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>{{$t('pages.occupations.document')}}</th>
                <th>{{$t('required')}}</th>
                <th>{{$t('status')}}</th>
                <th>{{$t('actions')}}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="doc in $props.documentsRequired" :key="doc.id">
                <td>{{doc.document}}</td>
                <td>{{doc.required ? $t('yes') : $t('no')}}</td>
                <td>{{getDocument(doc.id) ? getDocument(doc.id).status : '-'}}</td>
                <td>
                    <b-button-group size="sm">
                        <a @click="openImg(getDocument(doc.id).url_document)" class="btn btn-info text-white" v-if="getDocument(doc.id)">
                            <b-icon-eye-fill />
                        </a>
                        <b-button v-if="getDocument(doc.id)" variant="primary" @click="addDocument(doc.id,'edit')">
                            <b-icon-pencil />
                        </b-button>
                        <b-button v-if="!getDocument(doc.id)" variant="success" @click="addDocument(doc.id,'create')">
                            <b-icon-plus-circle-fill />
                        </b-button>
                        <b-button @click="deleteDocument(doc.id)" v-if="getDocument(doc.id)" variant="danger">
                            <b-icon-trash-fill />
                        </b-button>
                    </b-button-group>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>

    import AddDocumentForm from "@/components/occupations/AddDocumentForm";
    export default {
        name: 'OccupationDetailDocuments',
        components: {AddDocumentForm},
        data() {
            return {
                documentSelected: this.$props.documents[0],
                addDocumentId:"",
                action:"create",
                showImg:{
                    img:"",
                    modal:false
                }
            }
        },
        props:['documents','documentsRequired','occupationId'],
        methods:{
            getDocument(id){
                return this.$props.documents.find(item => {
                    return item.document_id === id;
                });
            },
            async deleteDocument(id){
                let resp = await this.questionAlert(this.$t('alerts.delete_document'));
                if(resp.isConfirmed) {
                    this.$bus.$emit('loading-occupation');
                    try {
                        let data = {
                            occupation_id: this.$props.occupationId,
                            document_id: id,
                        };
                        await this.$services.UserOccupationService.deleteDocument(data);
                        this.$bus.$emit('loading-occupation-close');
                        await this.successAlert(this.$t('alerts.update_success'));
                        this.$bus.$emit('reloadOccupation');
                    } catch (e) {
                        this.$bus.$emit('loading-occupation-close');
                        this.errorAlert(e);
                    }
                }
            },
            addDocument(id, action){
                this.addDocumentId = id;
                this.action = action;
                this.$bvModal.show('modal-upload-document')
            },
            openImg(img){
                this.showImg.img = img;
                this.showImg.modal = true;

            }
        }
    }
</script>

<style scoped>
    .carousel-item{
        text-align: center !important;
    }
</style>

