<template>
    <div>
        <transition name="fade"
                    mode="out-in">
            <div v-if="isLoading" class="p-5 d-flex justify-content-center align-items-center">
                <vue-loaders name="ball-spin-fade-loader" color="#FBBC06"></vue-loaders>
            </div>
            <div v-if="!isLoading">
                <div class="row justify-content-center my-5">
                    <div class="col col-12 col-sm-auto d-flex align-items-center justify-content-center">
                        <div>
                            <p class="text-dark text-center heading mb-0" style="font-size: 50px">{{Number(puntuation.score).toFixed(1)}}</p>
                            <b-form-rating v-model="puntuation.score" readonly precision="1" style="width: auto"></b-form-rating>
                            <p class="text-center">{{puntuation.total_votes}} <b-icon-people-fill /></p>
                        </div>
                    </div>
                    <div class="col col-12 col-sm-9 col-lg-7">
                        <div class="row align-items-center justify-content-center" v-for="item in puntuation.detail" :key="item.score">
                            <div class="col col-auto px-1">
                                <div style="width: 200px">
                                    <b-progress
                                            :value="item.total"
                                            :max="puntuation.total_votes"
                                            show-value
                                            variant="warning" striped class="mt-2">
                                    </b-progress>
                                </div>
                            </div>
                            <div class="col col-auto px-1">
                                <b-form-rating v-model="item.score" readonly precision="1" style="width: auto"></b-form-rating>
                            </div>
                            <div class="col col-auto px-1">
                                <p class="mb-0">{{Number(item.total / puntuation.total_votes * 100).toFixed(0)}}%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p v-if="comments.length === 0">{{$t('pages.profile.no_comments')}}</p>
                <div v-if="comments.length > 0">
                    <div class="row border-bottom py-3" v-for="comment in comments" :key="comment.id">
                        <div class="div-image rounded-circle col-auto mt-2" :style="'background-image: url('+comment.user.avatar+'); width: 50px; height: 50px;'" ></div>
                        <div class="col px-0">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-auto">
                                    <p class="mb-0">
                                        <span class="heading3 mr-2">{{comment.user.full_name}} </span>
                                        {{$moment(comment.created_at,"X").locale($i18n.locale).format("dddd, MMMM Do YYYY")}}
                                    </p>
                                </div>
                                <div class="col-auto">
                                    <b-form-rating v-model="comment.score" readonly show-value precision="1" style="width: auto"></b-form-rating>
                                </div>
                                <div class="col-12">
                                    <p class="text-justify">{{comment.body}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </transition>
        <b-pagination
                class="mt-5"
                v-model="currentPage"
                :total-rows="rows"
                :per-page="perPage"
                align="center"
                @change="(page)=>getComments(page,true)"
        ></b-pagination>
    </div>
</template>

<script>

    export default {
        name: 'OccupationComments',
        data() {
            return {
                isLoading: true,
                currentPage:1,
                rows:0,
                perPage: 10,
                comments:[],
                puntuation:{
                    detail: [
                    {score: 1, total: ""},
                    {score: 2, total: ""},
                    {score: 3, total: ""},
                    {score: 4, total: ""},
                    {score: 5, total: ""},
                    ],
                    score: 0,
                    total_votes: 0,
                }
            }
        },
        props:[],
        methods:{
            async getComments(page = 1, focusCard = false){
                this.isLoading = true;
                try {
                    let resp = await this.$services.UserOccupationService.userOccupationComments(this.$route.params.id, this.userAuth.id, page);
                    let resp2 = await this.$services.UserOccupationService.userOccupationPuntuation(this.$route.params.id, this.userAuth.id, page);
                    this.puntuation = resp2.data;
                    this.comments = resp.data.data;
                    this.rows = resp.data.total;
                    this.currentPage = resp.data.current_page;
                    this.perPage = resp.data.per_page;
                    this.isLoading = false;
                    if(focusCard) {
                        document.querySelector('#comments-card').scrollIntoView({
                            behavior: "smooth",
                            block: "start",
                            inline: "nearest"
                        })
                    }
                }catch (e) {
                    this.errorAlert(e)
                }
            }
        },
        computed:{

        },
        mounted() {
            this.getComments()
        }
    }
</script>

