<template>
  <div>
    <transition name="fade"
                mode="out-in">
      <div v-if="isLoading" class="p-5 d-flex justify-content-center align-items-center">
        <vue-loaders name="ball-spin-fade-loader" color="#FBBC06"></vue-loaders>
      </div>
      <div v-if="!isLoading">
        <p v-if="formatedContracts.length === 0">{{$t('alerts.no_records_found')}}</p>
        <div v-for="(groupContracts, month) in formatedContracts" :key="month">
          <p class="text-center text-capitalize heading3 my-3">{{month}}</p>
          <div v-for="contract in groupContracts" :key="contract.id">
            <div class="row justify-content-between bg-custom-gray mb-2 p-4">
              <div class="col col-12 col-md-6 col-lg-auto px-0">
                <p class="mb-1">{{$t('pages.balance.date')}}</p>
                <p class="mb-0 text-strong text-dark">{{contract.created_at}}</p>
              </div>
              <div class="col col-12 col-md-6 col-lg-auto px-0">
                <p class="mb-1">{{$t('pages.balance.contract_type')}}</p>
                <p class="mb-0 text-strong text-dark">{{getTypeService(contract.type_service)}}</p>
              </div>
              <div class="col col-12 col-md-6 col-lg-auto px-0">
                <p class="mb-1">{{isLender(contract) ?$t('pages.home.earned_tokens') : $t('pages.balance.spent_tokens')}}</p>
                <p :class="'mb-0 text-strong '+(isLender(contract) ? 'text-success' : 'text-danger')">{{contract.earned_token}}</p>
              </div>
              <div class="col col-12 col-lg-auto p-0 text-right">
                <a class="text-danger" href="javascript:void(0)" @click="deleteDocument(contract.id)"><b-icon-trash-fill /></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </transition>
    <b-pagination
        class="mt-5"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        align="center"
        @change="(page)=>getContracts(page)"
    ></b-pagination>
  </div>
</template>

<script>

import {mapState} from "vuex";

export default {
  name: 'OccupationContracts',
  components: {},
  data() {
    return {
      isLoading: true,
      currentPage:1,
      rows:0,
      perPage: 10,
      contracts:[]
    }
  },
  props:['userOccupationId'],
  mounted() {
    this.getContracts()
  },
  methods:{
    async getContracts(page = 1){
      this.isLoading = true;
      try {
        let resp = await this.$services.UserOccupationService.userOccupationContractsHistory(this.$props.userOccupationId, page);
        this.isLoading = false;
        this.contracts = resp.data.data;
        this.rows = resp.data.total;
        this.currentPage = resp.data.current_page;
        this.perPage = resp.data.per_page;
      }catch (e) {
        this.errorAlert(e);
        this.isLoading = false;
      }
    },
    isLender(contract){
      return contract.user_occupation.user_id === contract.lender_id;
    },
    async deleteDocument(id){
      let resp = await this.questionAlert(this.$t('alerts.delete_record'));
      if(resp.isConfirmed) {
        this.isLoading = true;
        try {
          await this.$services.ContractService.delete(id);
          this.isLoading = false;
          await this.successAlert(this.$t('alerts.update_success'));
          this.getContracts();
        } catch (e) {
          this.isLoading = false;
          this.errorAlert(e);
        }
      }
    },
  },
  watch:{
    locale(){
      this.getContracts()
    }
  },
  computed:{
    formatedContracts(){
      let resp = {};
      let vm = this;
      for (let i = 0; i<vm.contracts.length;i++){
        let created_at = vm.$moment(vm.contracts[i].created_at);
        vm.contracts[i].created_at = created_at.format('YYYY-MM-DD');
        created_at = created_at.locale(vm.locale).format("MMMM YYYY");
        if(created_at in resp){
          resp[created_at].push(vm.contracts[i])
        }else{
          resp[created_at] = [vm.contracts[i]]
        }
      }
      return resp;
    },
    ...mapState(['locale'])
  }
}
</script>

