<template>
    <div>
        <ValidationObserver ref="observer" tag="form" @submit.prevent="onSubmit">
            <!-- HEADER -->
            <div class="row justify-content-between">
                <div class="d-flex align-items-center mb-3">
                    <div class="div-image rounded-circle mr-2" :style="'background-image: url(data:image/png;base64,'+occupation.occupationInfo.icon+'); width: 50px; height: 50px;'" ></div>
                    <div>
                        <transition name="fade">
                            <p class="heading2 ml-1 d-flex align-items-center" style="margin-bottom: -5px">{{occupation.occupationInfo.name}} <b-badge pill :variant="getOccupationStateVariant(occupation.state)" class="ml-3">{{getOccupationStateName(occupation.state)}}</b-badge></p>
                        </transition>
                        <b-form-rating v-model="occupation.score" readonly show-value precision="1" style="width: auto"></b-form-rating>
                    </div>
                </div>
                <div v-if="!editTags" class="d-flex">
                    <div @click="onEdit" :class="(edit?'bg-success rounded-pill text-white px-3 py-2':'bg-custom-gray rounded-circle p-2')
                +' shadow-sm hover-grow align-self-start d-flex justify-content-center align-items-center'">
                        <b-icon-pencil v-if="!edit && (Number(occupation.state) !== states.pending)" font-scale="1.2" />
                        <span v-if="edit">
                        <b-icon-check2-circle font-scale="1.2" /> {{$t('buttons.submit')}}
                    </span>
                    </div>
                    <button type="button" v-if="edit" @click="edit = false"
                            class="btn btn-outline-danger rounded-pill ml-2 align-self-start">
                        <b-icon-x-circle-fill font-scale="1.2" /> {{$t('buttons.cancel')}}
                    </button>
                </div>
            </div>
            <!-- DESCRIPTION LANGUAGES TABS -->
            <b-tabs content-class="my-4">
                <b-tab v-for="lang in languagesComputed" :key="lang.acronym"
                       :title="lang.description" active>
                    <p v-if="!edit">{{occupation[lang.acronym]}}</p>
                    <ValidationProvider v-if="edit" rules="" v-slot="{ errors }" :name="lang.description">
                        <b-form-group>
                            <b-form-textarea
                                    v-model="form[lang.acronym]"
                                    :placeholder="lang.description"
                                    rows="6"
                            />
                        </b-form-group>
                        <small class="text-danger">{{errors[0]}}</small>
                    </ValidationProvider>
                </b-tab>
            </b-tabs>
            <!-- TAGS  -->
            <div v-if="!edit">
                <transition name="slide-fade" mode="out-in">
                    <div v-if="!editTags">
                        <div class="row flex-nowrap mt-2">
                            <div v-for="tag in occupation.tags" :key="tag.id" class="col-auto bg-custom-gray rounded-pill px-3 py-1 mr-2">
                                <p class="mb-0 text-dark">{{tag.description}}</p>
                            </div>
                            <div v-if="Number(occupation.state) !== states.pending" @click="onEditTags" class="col-auto bg-custom-yellow rounded-pill px-3 py-1 mr-2 hover-grow">
                                <p class="mb-0 text-white"><b-icon-tag-fill font-scale="1" /> {{$t('pages.occupations.edit_tags')}}</p>
                            </div>
                        </div>
                    </div>
                    <div v-if="editTags">
                        <div class="row">
                            <div class="col px-1">
                                <v-select multiple v-model="tagForm.selected"
                                          :options="tagForm.tags"
                                          :reduce="tag => tag.id"/>
                            </div>
                            <div class="col col-auto px-1 d-flex align-items-center align-self-end">
                                <button type="button" class="btn btn-success btn-sm mr-1" @click="onSubmitTags">
                                    <b-icon-check2-circle font-scale="1.2" /> {{$t('buttons.submit')}}
                                </button>
                                <button type="button" @click="editTags = false" class="btn btn-outline-danger btn-sm">
                                    <b-icon-x-circle-fill font-scale="1.2" /> {{$t('buttons.cancel')}}
                                </button>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>
            <!-- CAJAS VALOR MENSAJE, LLAMADA Y VIDEOLLAMADA -->
            <div class="row justify-content-center my-5">
                <div class="col col-12 col-md-4 col-lg-3 p-2">
                    <div class="border border-warning rounded">
                        <p class="text-center mb-0 heading my-3"><b-icon-chat-dots-fill variant="warning"
                                                                                        font-scale="2"/></p>
                        <p class="text-center mb-0">{{$t('pages.occupations.message_value')}}:</p>
                        <p v-if="!edit" class="text-strong text-dark text-center"><span class="heading">{{occupation.v_token_message}}</span> TKNS</p>
                        <ValidationProvider v-if="edit" rules="required|numeric" v-slot="{ errors }" :name="$t('message_value')">
                            <div class="row justify-content-center mb-4">
                                <b-form-input style="width: 150px" class="input2 text-center" type="text" v-model="form.v_token_message" />
                            </div>
                            <p v-if="errors.length > 0" class="text-justify p-2 mb-0 bg-danger m-1"><small class="text-white">{{errors[0]}}</small></p>
                        </ValidationProvider>
                    </div>
                </div>
                <div class="col col-12 col-md-4 col-lg-3 p-2">
                    <div class="border border-warning rounded">
                        <p class="text-center mb-0 heading my-3"><b-icon-phone variant="warning"
                                                                               font-scale="2"/></p>
                        <p class="text-center mb-0">{{$t('pages.occupations.call_value')}}:</p>
                        <p v-if="!edit" class="text-strong text-dark text-center"><span class="heading">{{occupation.v_token_call}}</span> TKNS</p>
                        <ValidationProvider v-if="edit" rules="required|numeric" v-slot="{ errors }" :name="$t('call_value')">
                            <div class="row justify-content-center mb-4">
                                <b-form-input style="width: 150px" class="input2 text-center" type="text" v-model="form.v_token_call" />
                            </div>
                            <p v-if="errors.length > 0" class="text-justify p-2 mb-0 bg-danger m-1"><small class="text-white">{{errors[0]}}</small></p>
                        </ValidationProvider>
                    </div>
                </div>
                <div class="col col-12 col-md-4 col-lg-3 p-2">
                    <div class="border border-warning rounded">
                        <p class="text-center mb-0 heading my-3"><b-icon-camera-video-fill variant="warning"
                                                                                           font-scale="2"/></p>
                        <p class="text-center mb-0">{{$t('pages.occupations.video_call_value')}}:</p>
                        <p v-if="!edit" class="text-strong text-dark text-center"><span class="heading">{{occupation.v_token_video_call}}</span> TKNS</p>
                        <ValidationProvider v-if="edit" rules="required|numeric" v-slot="{ errors }" :name="$t('video_call_value')">
                            <div class="row justify-content-center mb-4">
                                <b-form-input style="width: 150px" class="input2 text-center" type="text" v-model="form.v_token_video_call" />
                            </div>
                            <p v-if="errors.length > 0" class="text-justify p-2 mb-0 bg-danger m-1"><small class="text-white">{{errors[0]}}</small></p>
                        </ValidationProvider>
                    </div>
                </div>
            </div>
            <!-- ACEPTA NEGOCIACIÓN Y GUARDA EL HISTORIAL DE MENSAJES -->
            <p v-if="!edit"><span class="text-strong">{{$t('pages.occupations.accept_negotiation')}}: </span>{{occupation.accept_negotiation ? $t('yes') : $t('no')}}</p>
            <b-form-checkbox
                    v-if="edit"
                    name="accept_negotiation"
                    v-model="form.accept_negotiation"
            >
                {{$t('pages.occupations.accept_negotiation')}}
            </b-form-checkbox>
            <p v-if="!edit"><span class="text-strong">{{$t('pages.occupations.save_messages_history')}}: </span>{{occupation.save_history ? $t('yes') : $t('no')}}</p>
            <b-form-checkbox
                    v-if="edit"
                    v-model="form.save_history"
            >
                {{$t('pages.occupations.save_messages_history')}}
            </b-form-checkbox>
        </ValidationObserver>
    </div>
</template>

<script>

    import {LANGUAGES, USER_OCCUPATION_STATE} from "@/globals/globals";

    export default {
        name: 'OccupationDetailEdit',
        components: {},
        data() {
            return {
                languages: LANGUAGES.getItems(),
                edit: false,
                editTags: false,
                form:{
                    es: "",
                    en: "",
                    de: "",
                    it: "",
                    pt: "",
                    fr: "",
                    v_token_message: "",
                    v_token_call: "",
                    v_token_video_call: "",
                    save_history: "",
                    accept_negotiation: "",
                    occupation_id: ""
                },
                tagForm:{
                    selected:[],
                    tags:[]
                },
                states: USER_OCCUPATION_STATE
            }
        },
        props:['occupation'],
        methods:{
            async onSubmit(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    this.$bus.$emit('loading-occupation');
                    try{
                        await this.$services.UserOccupationService.updateUserOccupation(this.form);
                        this.successAlert(this.$t("alerts.update_success"));
                        this.$bus.$emit('reloadOccupation');
                        this.edit = false;
                    }catch (e) {
                        this.$bus.$emit('loading-occupation-close');
                        this.errorAlert(e)
                    }
                } else {
                    this.errorAlert(this.$t('alerts.form_errors'))
                }
            },
            onEdit(){
                if(!this.edit){
                    this.activeInputs()
                }else{
                    this.onSubmit()
                }
            },
            activeInputs(){
                this.form.occupation_id = this.occupation.occupation_id;
                this.form.es = this.occupation.es;
                this.form.en = this.occupation.en;
                this.form.de = this.occupation.de;
                this.form.it = this.occupation.it;
                this.form.pt = this.occupation.pt;
                this.form.fr = this.occupation.fr;
                this.form.v_token_message = this.occupation.v_token_message;
                this.form.v_token_call = this.occupation.v_token_call;
                this.form.v_token_video_call = this.occupation.v_token_video_call;
                this.form.save_history = this.occupation.save_history;
                this.form.accept_negotiation = this.occupation.accept_negotiation;
                this.edit = true;
            },
            async onEditTags(){
                this.editTags = true;
                if(this.tagForm.tags.length === 0) {
                    this.$bus.$emit('loading');
                    try {
                        let resp = await this.$services.OccupationService.getTags(this.occupation.occupation_id);
                        this.tagForm.tags = resp.data.map(item => {
                            return {id: item.id, label: item.description}
                        });
                        this.tagForm.selected = this.occupation.tags.map(item => {
                            return item.id;
                        });
                        this.$bus.$emit('loading-close');
                    } catch (e) {
                        this.$bus.$emit('loading-close');
                        this.errorAlert(e)
                    }
                }
            },
            async onSubmitTags(){
                this.$bus.$emit('loading-occupation');
                try{
                    let data = {
                        occupation_id: this.occupation.occupation_id,
                        tags: this.tagForm.selected
                    };
                    await this.$services.UserOccupationService.addTags(data);
                    this.successAlert(this.$t("alerts.update_success"));
                    this.$bus.$emit('reloadOccupation');
                    this.editTags = false;
                }catch (e) {
                    this.$bus.$emit('loading-occupation-close');
                    this.errorAlert(e)
                }
            }
        },
        computed:{
            languagesComputed(){
                if(!this.edit) {
                    let result = [];
                    for (let key in this.languages) {
                        if (this.$props.occupation[this.languages[key].acronym]) {
                            result.push(this.languages[key]);
                        }
                    }
                    return result;
                }else{
                    return this.languages;
                }
            }
        }
    }
</script>

