<template>
  <div>
    <h1 class="heading mb-5">
      <nuxt-link class="heading text-dark text-decoration-none" :to="localePath('/dashboard/occupations')">
        <b-icon-arrow-left-short /> {{$t('pages.occupations.label')}}
      </nuxt-link>
      <span class="text-normal">| {{occupation.occupationInfo.name}}</span></h1>
    <transition name="fade"
                mode="out-in">
      <div v-if="isLoading" class="p-5 d-flex justify-content-center align-items-center">
        <vue-loaders name="ball-spin-fade-loader" color="#FBBC06"></vue-loaders>
      </div>
      <div v-if="!isLoading">
        <div class="row justify-content-end">
          <button @click="changeState(userOccupationStates.pending)" v-if="Number(occupation.state) !== userOccupationStates.pending" class="btn btn-primary btn-sm mb-3"><b-icon-arrow-bar-up /> {{$t('buttons.post_changes')}}</button>
          <button @click="changeState(userOccupationStates.paused)" v-if="Number(occupation.state) === userOccupationStates.approved" class="btn btn-secondary btn-sm mb-3 ml-2"><b-icon-pause-fill /> {{$t('buttons.pause')}}</button>
          <button @click="changeState(userOccupationStates.approved)" v-if="Number(occupation.state) === userOccupationStates.paused" class="btn btn-secondary btn-sm mb-3 ml-2"><b-icon-play-fill /> {{$t('buttons.resume')}}</button>
        </div>
        <b-card>
          <occupation-detail-edit :occupation="occupation" />
        </b-card>
        <b-card class="mt-3">
          <occupation-detail-documents :documents-required="occupationDocuments"
                                       :documents="occupation.documents"
                                       :occupation-id="occupation.occupation_id" />
        </b-card>
        <b-card class="mt-3" id="comments-card">
          <b-tabs content-class="mt-4">
            <b-tab :title="$t('pages.home.earned_tokens')" active>

            </b-tab>
            <b-tab :title="$t('pages.occupations.contracts_by_month')">

            </b-tab>
            <b-tab :title="$t('pages.home.all_contracts')">
              <occupation-contracts :user-occupation-id="occupation.id" />
            </b-tab>
            <b-tab :title="$t('pages.profile.comments_and_ratings')">
              <occupation-comments />
            </b-tab>
          </b-tabs>
        </b-card>
      </div>
    </transition>
  </div>
</template>

<script>

import OccupationDetailEdit from "@/components/occupations/OccupationDetailEdit";
import OccupationDetailDocuments from "@/components/occupations/OccupationDetailDocuments";
import {USER_OCCUPATION_STATE} from "@/globals/globals";
import OccupationContracts from "@/components/occupations/OccupationContracts";
import OccupationComments from "@/components/occupations/OccupationComments";

export default {
  name: 'OccupationDetail',
  components: {OccupationComments, OccupationContracts, OccupationDetailDocuments, OccupationDetailEdit},
  data() {
    return {
      isLoading: true,
      occupation: {
        id: "",
        user_id: "",
        occupation_id: "",
        en: "",
        es: "",
        it: "",
        pt: "",
        de: "",
        fr: "",
        v_token_message: "",
        v_token_call: "",
        v_token_video_call: "",
        save_history: false,
        accept_negotiation: true,
        state: "",
        created_at: "",
        updated_at: "",
        occupationInfo: {
          id: 1,
          icon: "",
          name: ""
        },
        tags: [],
        documents: [],
        score: "",
        reject: null
      },
      occupationDocuments:[],
      userOccupationStates: USER_OCCUPATION_STATE
    }
  },
  props:[],
  methods:{
    async getOccupation(id){
      this.isLoading = true;
      try {
        let resp = await this.$services.UserOccupationService.authUserOccupationDetail(id);
        let resp2 = await this.$services.OccupationService.getDocuments(id);
        this.occupation = resp.data;
        this.occupationDocuments = resp2.data;
        console.log(resp2)
        this.isLoading = false;
        console.log(resp.data)
      }catch (e) {
        this.errorAlert(e);
        this.isLoading = false;
      }
    },
    async changeState(state){
      let resp = {isConfirmed: true};
      if(state === this.userOccupationStates.pending) {
        let documentsPending = [];
        for(let i = 0; i<this.occupationDocuments.length; i++){
          if(this.occupationDocuments[i].required){
            let doc = this.occupation.documents.find(item => {
              return item.document_id === this.occupationDocuments[i].id;
            });
            if(!doc){
              documentsPending.push(this.occupationDocuments[i].document)
            }
          }
        }
        if(documentsPending.length > 0){
          this.errorAlert(this.$t('pages.occupations.documents_pending')+': '+documentsPending.join(', '))
          resp.isConfirmed = false;
        }else{
          resp = await this.questionAlert(this.$t('alerts.change_occupation_to_pending'));
        }
      }
      if(resp.isConfirmed) {
        this.isLoading = true;
        try {
          await this.$services.UserOccupationService.updateState(this.occupation.occupation_id, state);
          this.getOccupation(this.occupation.occupation_id)
        } catch (e) {
          this.errorAlert(e);
          this.isLoading = false;
        }
      }
    }
  },
  mounted() {
    this.getOccupation(this.$route.params.id);
    let vm = this;
    this.$bus.$on('reloadOccupation',function () {
      vm.getOccupation(vm.$route.params.id);
    });
    this.$bus.$on('loading-occupation',function () {
      vm.isLoading = true;
    });
    this.$bus.$on('loading-occupation-close',function () {
      vm.isLoading = false;
    });
  },
  computed:{
    languagesFiltered(){
      let langs = [];
      let vm = this;
      for(let i = 0; i<vm.languages.length;i++){
        console.log(vm.occupation[this.languages[i].acronym])
        //if(this.occupation[this.languages[i].acronym]){
        langs.push(vm.languages[i])
        //}
      }
      return langs;
    }
  }
}
</script>

