<template>
  <div>
    <h1 class="heading mb-5">
      <nuxt-link class="heading text-dark text-decoration-none" :to="localePath('/dashboard/occupations')">
        <b-icon-arrow-left-short /> {{$t('pages.occupations.label')}}
      </nuxt-link>
      <span class="text-normal">| {{$t('pages.occupations.add_occupation')}}</span></h1>
    <div class="row">
      <div class="col col-12 col-md-10 col-lg-8">
        <b-card>
          <choose-occupation-form />
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>

import ChooseOccupationForm from "@/components/occupations/create/ChooseOccupationForm";
export default {
  name: 'OccupationCreate',
  components: {ChooseOccupationForm},
  data() {
    return {
    }
  },
  props:[]
}
</script>

