<template>
  <div>
    <h1 class="heading mb-5">{{$t('pages.occupations.label')}}</h1>
    <div class="row border-bottom mb-4">
      <div class="col col-12 col-md-6 col-lg-3 px-0">
        <p class="mb-1">{{$t('pages.occupations.occupations_created')}}</p>
        <p class="text-strong text-dark">{{occupationsCreated}}</p>
      </div>
      <div class="col col-12 col-md-6 col-lg-3 px-0">
        <p class="mb-1">{{$t('pages.occupations.occupations_paused')}}</p>
        <p class="text-strong text-dark">{{occupationsPaused}}</p>
      </div>
      <div class="col col-12 col-md-6 col-lg-3 px-0">
        <p class="mb-1">{{$t('pages.occupations.occupations_pending')}}</p>
        <p class="text-strong text-dark">{{occupationsPending}}</p>
      </div>
      <div class="col col-12 col-md-6 col-lg-3 px-0">
        <p class="mb-1">{{$t('pages.occupations.occupations_approved')}}</p>
        <p class="text-strong text-dark">{{occupationsAproved}}</p>
      </div>
      <div class="col col-12 col-md-6 col-lg-3 px-0">
        <p class="mb-1">{{$t('pages.occupations.occupations_rejected')}}</p>
        <p class="text-strong text-dark">{{occupationsRejected}}</p>
      </div>
      <div class="col col-12 col-md-6 col-lg-3 px-0">
        <p class="mb-1">{{$t('pages.occupations.occupations_all')}}</p>
        <p class="text-strong text-dark">{{occupations.length}}</p>
      </div>
    </div>
    <div class="row justify-content-between align-items-center mb-4">
      <div class="mb-2">
        <simple-select-dropdown @optionChanged="(item)=>{changeState(item)}"
                                :options="states" :option-selected="states[0]" />
      </div>
      <b-button type="button" @click="$router.push(localePath('/dashboard/occupations/create'))" variant="primary mb-2">+ {{$t('pages.occupations.add_occupation')}}</b-button>
    </div>
    <div v-if="isLoading" class="p-5 d-flex justify-content-center align-items-center">
      <vue-loaders name="ball-spin-fade-loader" color="#FBBC06"></vue-loaders>
    </div>
    <div v-if="occupationsComputed.length === 0 && !isLoading" class="col-12 px-0">
      <p>{{$t('alerts.no_records_found')}}</p>
    </div>
    <div v-if="!isLoading" class="mb-5">
      <transition-group class="row" name="group">
        <div v-for="occupation in occupationsComputed" :key="occupation.id"
             class="col col-12 col-md-6 col-lg-4 p-1">
          <b-card>
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <div class="div-image rounded-circle mr-2" :style="'background-image: url(data:image/png;base64,'+occupation.icon+'); width: 40px; height: 40px;'" ></div>
                <p class="heading3 mb-0">{{occupation.name}}</p>
              </div>
              <b-badge pill :variant="getOccupationStateVariant(occupation.state)" class="ml-3">{{getOccupationStateName(occupation.state)}}</b-badge>
            </div>
            <hr>
            <b-form-rating v-model="occupation.score" readonly show-value precision="1" style="width: auto"></b-form-rating>
            <p class="text-justify mt-3">{{occupation.description}}</p>
            <hr>
            <p class="text-center mb-0">
              <a href="javascript:void(0)" @click="$router.push(localePath('/dashboard/occupations/'+occupation.id))">
                {{$t('buttons.see_more')}}
              </a>
            </p>
          </b-card>
        </div>
      </transition-group>
    </div>
  </div>
</template>

<script>
import SimpleSelectDropdown from "../../../components/SimpleSelectDropdown";

export default {
  name: 'Occupations',
  components: {SimpleSelectDropdown},
  data() {
    return {
      isLoading: true,
      occupations: [],
      occupationsAproved:0,
      occupationsPaused:0,
      occupationsCreated:0,
      occupationsPending:0,
      occupationsRejected:0,
      stateSelected:"0"
    }
  },
  props:[],
  computed:{
    states(){
      return [
        {key:'0',label:this.$t('pages.occupations.occupations_all')},
        {key:'1',label:this.$t('pages.occupations.occupations_pending')},
        {key:'2',label:this.$t('pages.occupations.occupations_rejected')},
        {key:'3',label:this.$t('pages.occupations.occupations_approved')},
        {key:'5',label:this.$t('pages.occupations.occupations_paused')},
        {key:'6',label:this.$t('pages.occupations.occupations_created')},
      ]
    },
    occupationsComputed(){
      return this.occupations.filter(item => {
        if(this.stateSelected === "0"){
          return item;
        }else{
          return item.state === this.stateSelected;
        }
      })
    }
  },
  mounted() {
    this.getOccupations()
  },
  methods:{
    async getOccupations(){
      this.isLoading = true;
      try {
        let resp = await this.$services.UserOccupationService.authUserOccupations(true);
        this.isLoading = false;
        this.occupations = resp.data.data;
        this.occupationsAproved = resp.data.count.occupationsAproved;
        this.occupationsPaused = resp.data.count.occupationsPaused;
        this.occupationsCreated = resp.data.count.occupationsCreated;
        this.occupationsPending = resp.data.count.occupationsPending;
        this.occupationsRejected = resp.data.count.occupationsRejected;
      }catch (e) {
        this.errorAlert(e)
      }
    },
    changeState(item){
      //let state = item.key === "0" ? "": item.key;
      this.stateSelected = item.key;
    },

  },
}
</script>

