<template>
  <div>
    <div v-show="isLoading" class="myloader">
      <vue-loaders name="pacman" color="#FBBC06"></vue-loaders>
    </div>
    <nuxt />
  </div>
</template>

<script>
export default {
  data() {
    return {
      isLoading: false
    }
  },
  mounted() {
    this.$bus.$on('loading',()=>{this.isLoading = true});
    this.$bus.$on('loading-close',()=>{this.isLoading = false});
  }
}
</script>

<style>
.myloader{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  background: rgba(255,255,255,.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
</style>
