<template>
    <div :class="'sidebar '+(isOpen?'':'collapsed')">
        <a class="text-right mr-3 d-block" @click="$emit('closeSidebar')" style="margin-top: -30px" href="javascript:void(0)"><p class="heading2">&times;</p></a>
        <div class="text-center mb-5">
            <img :src="require('assets/images/logo-horizontal.png')" alt="Logo napoleon" width="200px">
        </div>
        <div class="d-flex justify-content-center">
            <div class="custom-border-effect spin circle" @click="$router.push(localePath('/dashboard/profile'))">
                <div v-if="$auth.loggedIn" class="div-image rounded-circle" :style="'background-image: url('+($auth.user.avatar?$auth.user.avatar:require('assets/images/user_default.png'))+'); width: 120px; height: 120px;'" ></div>
            </div>
        </div>
        <p v-if="$auth.loggedIn" class="heading2 text-center mt-3 mb-0">{{$auth.user.full_name}}</p>
        <p v-if="$auth.loggedIn" class="text-center mb-4">{{$auth.user.nick ? '@'+$auth.user.nick : $auth.user.email}}</p>
        <!--
        <div class="d-flex justify-content-center mb-3">
            <b-form-rating v-model="rating" readonly style="width: auto"></b-form-rating>
        </div>
        -->
        <ul class="custom-menu">
            <li class="custom-menu__item">
                <nuxt-link :to="localePath('/')">
                    <b-icon-house-fill class="mr-3" />
                    {{$t('pages.home.label')}}
                </nuxt-link>
            </li>
            <li class="custom-menu__item">
                <nuxt-link :to="localePath('/dashboard/profile')">
                    <b-icon-person-fill class="mr-3" />
                    {{$t('pages.profile.label')}}
                </nuxt-link>
            </li>
            <li class="custom-menu__item">
                <nuxt-link :to="localePath('/dashboard/tokens')">
                    <b-icon-bar-chart-fill class="mr-3" />
                    {{$t('pages.balance.label')}}
                </nuxt-link>
            </li>
            <li class="custom-menu__item">
                <nuxt-link :to="localePath('/dashboard/occupations')">
                    <b-icon-briefcase-fill class="mr-3" />
                    {{$t('pages.occupations.label')}}
                </nuxt-link>
            </li>
            <li class="custom-menu__item">
                <a href="">
                    <b-icon-flag-fill class="mr-3" />
                    Reclamaciones
                </a>
            </li>
            <li class="custom-menu__item">
                <a href="">
                    <b-icon-info-circle-fill class="mr-3" />
                    {{$t('pages.help.label')}}
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'DashboardSidebar',
        components: {},
        data() {
            return {
                profileImg:require('assets/images/personas-charlando.png'),
                rating: 4
            }
        },
        props:['isOpen'],
        computed:{

        }
    }
</script>
