<template>
  <div class="bg-white p-4">
    <b-modal v-model="openModal" centered :title="$t('buttons.change_lang')" hide-footer>
      <hr class="mt-0">
      <b-form>
        <b-form-group>
          <b-form-radio  v-for="lang in langOptions" :key="lang.acronym"
                         v-model="langSelected" name="lang" :value="lang.acronym"
                         :selected="lang.acronym === langSelected"
          >
            {{lang.description}}
          </b-form-radio>
          <hr class="my-4">
          <b-button type="button" @click="changeLang" variant="primary">{{$t('buttons.submit')}}</b-button>
        </b-form-group>
      </b-form>
    </b-modal>
    <b-modal :title="$t('buttons.fill')" v-model="openModalRefill" centered hide-footer>
      <hr class="mt-0">
        <refill-form />
    </b-modal>
    <div class="row justify-content-between">
      <div class="hover-grow-no-shadow" @click="$emit('toggleSidebar')">
        <b-icon-grid />
      </div>
      <div class="d-flex flex-column flex-md-row justify-content-start align-items-end">
        <div class="bg-custom-gray rounded px-3 pt-2 mr-0 mr-md-2 mb-2 mb-md-0"><p class="mb-0 text-strong text-dark pb-2">{{$t('pages.balance.current_balance')}}: {{totalTokens}} TKNS</p></div>
        <b-button type="button" variant="primary" class="mr-0 mr-md-2 btn-sm mb-2 mb-md-0" @click="openModalRefill = true">{{$t('buttons.fill')}}</b-button>
        <b-button type="button" variant="secondary" class="mr-0 mr-md-5 btn-sm mb-2 mb-md-0">{{$t('buttons.withdraw')}}</b-button>
        <b-dropdown right variant="link custom-dropdown" toggle-class="text-decoration-none" no-caret>
          <template v-slot:button-content>
            <b-icon-three-dots-vertical/>
          </template>
          <b-dropdown-item href="#" @click="openModal = true"><b-icon-compass class="mr-3"/> {{$t('buttons.change_lang')}}</b-dropdown-item>
          <b-dropdown-item href="javascript:void(0)" @click="logout"><b-icon-box-arrow-right class="mr-3"/> {{$t('buttons.log_out')}}</b-dropdown-item>
        </b-dropdown>
      </div>
    </div>
    <p class="mb-0 mt-3 text-right">{{ today }}</p>
  </div>
</template>

<script>
import {mapMutations, mapState} from "vuex";
import {LANGUAGES} from "~/globals/globals";
import RefillForm from "@/components/tokens/RefillForm";

export default {
  name: 'DashboardHeader',
  components: {RefillForm},
  data() {
    return {
      langSelected:'',
      openModal: false,
      openModalRefill: false,
      langOptions: LANGUAGES.getItems()
    }
  },
  methods:{
    async logout(){
      let resp = await this.questionAlert(this.$t('alerts.logout'));
      if(resp.isConfirmed) {
        this.$bus.$emit('loading');
        try{
          await this.$auth.logout()
          await this.$router.push({path: '/login'});
          this.$bus.$emit('loading-close');
        }catch (err) {
          this.errorAlert(err);
          this.$bus.$emit('loading-close');
        }
      }
    },
    async changeLang(){
      this.$bus.$emit('loading');
      try{
        let id = LANGUAGES.findByAcronym(this.langSelected);
        let resp = await this.$services.AuthService.updateInfo({language_id: id});
        this.$auth.setUser(resp.data);
        await this.$router.push({path: this.switchLocalePath(this.langSelected)})
        setTimeout(() => {
          this.$bus.$emit('loading-close');
          this.successAlert(this.$t('alerts.lang_updated'));
        },1000)
      }catch (e) {
        this.$bus.$emit('loading-close');
        this.errorAlert(e)
      }
    },
    ...mapMutations(['changeAuthUser'])
  },
  computed:{
    today(){
      return this.$moment().locale(this.$i18n.locale).format("dddd, MMMM Do YYYY")
    },
    ...mapState(['totalTokens'])
  },
  mounted() {
    let user = this.$auth.user;
    this.langSelected = LANGUAGES.findById(user.language_id);
    let vm = this;
    this.$bus.$on('open-refill-modal', function () {
      vm.openModalRefill = true;
    })
  }
}
</script>
