<template>
  <div>
    <div v-show="isLoading" class="myloader">
      <vue-loaders name="pacman" color="#FBBC06"></vue-loaders>
    </div>
    <div style="overflow: hidden">
      <dashboard-sidebar :is-open="sidebarOpen" @closeSidebar="sidebarOpen = false" />
      <div :class="'bg-custom-gray vh-min-height main '+(sidebarOpen?'collapsed':'')">
        <dashboard-header @toggleSidebar="sidebarOpen = !sidebarOpen" />
        <div class="p-2 p-sm-3 p-md-5 d-flex flex-column justify-content-between">
          <div style="min-height: 100vh">
            <transition name="slide-fade"
                        mode="out-in">
              <Nuxt />
            </transition>
          </div>
          <div class="border-top pt-3">
            <p>
              © 2020 {{$t('pages.footer.copyright')}}, Napoleon Systems S.A.S.<br>
              {{$t('pages.footer.about')}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DashboardHeader from "./DashboardHeader";
import DashboardSidebar from "./DashboardSidebar";
import {LANGUAGES} from "@/globals/globals";
import {mapActions} from 'vuex'

export default {
  name: 'Dashboard',
  components: {DashboardSidebar, DashboardHeader},
  middleware:'auth',
  data() {
    return {
      sidebarOpen:true,
      isLoading: false
    }
  },
  mounted() {
    this.nuxtServerInit();
    if(this.$auth.loggedIn) {
      let lang = this.$auth.user.language_id;
      this.$router.push({path: this.switchLocalePath(LANGUAGES.findById(lang))})
    }else{
     this.$router.push({path: '/login'});
    }
    this.$bus.$on('loading',()=>{this.isLoading = true});
    this.$bus.$on('loading-close',()=>{this.isLoading = false});
  },
  methods:{
    ...mapActions(['nuxtServerInit']),
  }
}
</script>

<style scoped>
.main{
  margin-left: 0;
  transition: all .6s;
  transition-timing-function: cubic-bezier(0,1.03,.63,1.26);
}
.main.collapsed{
  margin-left: 250px;
}
@media (max-width: 575.98px) {
  .main.collapsed{
    margin-left: 0;
  }
}

/*VUE TRANSITIONS */
.slide-fade-enter-active {
  transition: all 1s ease;
}

.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */
{
  transform: translateX(20px);
  opacity: 0;
}

.fade-enter-active {
  transition: all 1s ease;
}

.fade-enter, .fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */
{
  opacity: 0;
  transform: translateY(20px);
}

.group-enter-active, .group-leave-active {
  transition: all .3s;
}
.group-enter/* .group-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: scale(0.5) translatey(-80px);
}
.group-leave-to{
  transform: translatey(30px);
  opacity:0;
}

.myloader{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  background: rgba(255,255,255,.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
</style>
