<template>
  <div>
    <h1 class="heading mb-5">{{$t('pages.home.label')}}</h1>
    <div class="row mb-5">
      <div class="col col-6 p-2">
        <b-card style="height: 200px">
          <p class="text-strong text-dark">{{$t('pages.home.earned_tokens')}}</p>
          <hr>
        </b-card>
      </div>
      <div class="col col-6 p-2">
        <b-card style="height: 200px">
          <p class="text-strong text-dark">{{$t('pages.home.all_contracts')}}</p>
          <hr>
        </b-card>
      </div>
      <div class="col col-6 p-2">
        <b-card style="height: 200px">
          <p class="text-strong text-dark">{{$t('pages.home.average_rating')}}</p>
          <hr>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Home',
  components: {},
  data() {
    return {
    }
  },
  props:[]
}
</script>

