<template>
  <div>
    <b-modal id="modal-register" centered :title="$t('auth.register')" hide-footer>
      <register-form />
    </b-modal>
    <b-modal id="modal-recover-account" centered :title="$t('auth.recover_account')" hide-footer>
      <recover-account-form />
    </b-modal>
    <div class="container-fluid p-0">
      <div class="row vh-height">
        <div class="col col-12 col-md-5 col-lg-6 div-image" :style="'background-image: linear-gradient(180deg, rgba(255, 234, 174, 0.7) 0%, rgba(251, 188, 6, 0.7) 71.35%),url('+backgroundImage+')'">
          &nbsp;
        </div>
        <div class="col col-12 col-md-7 col-lg-6 d-flex flex-column justify-content-center p-0 p-md-5">
          <div class="text-center my-5"><img :src="require('@/assets/images/logo-horizontal.png')" alt="Logo napoleon" width="200px"></div>
          <login-form />
          <div class="line-with-text">
            <p class="text-strong text-dark line-with-text__text">
              <span>{{ $t('auth.find_us') }}</span>
            </p>
          </div>
          <div class="row justify-content-center my-5">
            <a href="#" class="hover-grow mr-3"><img :src="require('@/assets/images/app-store.png')" alt="App Store" height="50px"></a>
            <a href="#" class="hover-grow"><img :src="require('@/assets/images/google-play.png')" alt="Google Play" height="50px"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LoginForm from "../components/auth/LoginForm";
import RegisterForm from "../components/auth/RegisterForm";
import RecoverAccountForm from "../components/auth/RecoverAccountForm";
export default {
  name: 'Login',
  components: {RecoverAccountForm, RegisterForm, LoginForm},
  layout: "custom",
  middleware: 'auth',
  auth:'guest',
  data() {
    return {
      backgroundImage:require('@/assets/images/personas-charlando.png'),
    }
  }
}
</script>
