<template>
  <div class="px-5">
    <div class="row justify-content-between mb-4 align-items-center">
      <h1 class="heading mb-0">{{ $t('auth.login') }}</h1>
      <b-dropdown variant="link custom-dropdown" toggle-class="text-decoration-none" no-caret>
        <template v-slot:button-content>
          <div class="d-flex align-items-center">
            <div>{{langSelected.label}} &#9660;</div>
          </div>
        </template>
        <nuxt-link v-for="option in langs" :key="option.key" @click="langSelected = option" class="dropdown-item" :to="switchLocalePath(option.key)">
          <div :class="langSelected === option ? 'text-primary d-flex align-items-center':'d-flex align-items-center'">
            <div>{{option.label}}</div>
          </div>
        </nuxt-link>
      </b-dropdown>
    </div>
    <ValidationObserver ref="observer" tag="form" @submit.prevent="onSubmit">
      <ValidationProvider rules="required|email" v-slot="{ errors }" name="email">
        <b-form-group
          :label="$t('formNames.email')"
          label-for="input-1">
          <b-form-input
            id="input-1"
            v-model="form.email"
            type="email"
            required>
          </b-form-input>
        </b-form-group>
        <small class="text-danger">{{errors[0]}}</small>
      </ValidationProvider>

      <ValidationProvider rules="required" v-slot="{ errors }" name="password">
        <b-form-group :label="$t('formNames.password')" label-for="input-2" class="mt-3">
          <b-form-input
            id="input-2"
            v-model="form.password"
            required
            :type="showPassword?'text':'password'">
          </b-form-input>
          <div class="input-icon" @click="showPassword = !showPassword"><b-icon :icon="showPassword?'eye-fill':'eye-slash-fill'"></b-icon></div>
        </b-form-group>
        <small class="text-danger">{{errors[0]}}</small>
      </ValidationProvider>
      <div class="row justify-content-between align-items-center mt-3">
        <b-button type="submit" variant="primary">{{ $t('buttons.submit') }}</b-button>
        <a href="javascript:void(0)" @click="showModalRecover" class="link-muted">{{ $t('auth.recover_account') }}</a>
      </div>
    </ValidationObserver>
    <p class="text-center my-5">{{ $t('auth.dont_have_account') }} <a href="javascript:void(0)" @click="showModalRegister">{{ $t('auth.register') }}</a></p>
    <b-button @click="loginWithGoogle" type="button" variant="link" class="btn-block shadow-sm link-muted py-2 mb-5">
      <img :src="require('@/assets/images/google-icon.png')" alt="Logo google" width="20px" class="mr-2">
      <span class="pt-2">{{$t('auth.register_with_google')}}</span>
    </b-button>
  </div>
</template>

<script>
import SimpleSelectDropdown from "../../components/SimpleSelectDropdown";
import {LANGUAGES} from "~/globals/globals";

export default {
  name: 'LoginForm',
  components: {SimpleSelectDropdown},
  data() {
    return {
      form:{
        email:"",
        password:"",
      },
      showPassword: false,
      langs:[
        {key:'es', label:'ES'},
        {key:'en', label:'EN'},
        {key:'fr', label:'FR'},
        {key:'pt', label:'PT'},
        {key:'de', label:'DE'},
        {key:'it', label:'IT'},
      ],
      langSelected:{key:1, label:'ES'},
    }
  },
  methods:{
    async onSubmit(){
      let pasoValidacion = await this.$refs.observer.validate();
      if (pasoValidacion) {
        this.$bus.$emit('loading');
        try{
          await this.$auth.loginWith('laravelJWT', { data: this.form })
          this.$bus.$emit('loading-close');
          window.location.reload()
          //this.$router.push(this.localePath('/'));
          //console.log(response.data.access_token)
        }catch (e){
          this.$bus.$emit('loading-close');
          let response = e.response;
          if(response.status === 422){
            if(response.data.password){
              this.errorAlert(response.data.password[0]);
            }
            if(response.data.email){
              this.errorAlert(response.data.email[0]);
            }
          }else{
            this.errorAlert(e)
          }
        }
        /*
        try{
          const respuesta =  await AuthService.login(this.form);
          localStorage.setItem('user',JSON.stringify(respuesta.data.user));
          localStorage.setItem('token', respuesta.data.access_token);
          window.location.reload();
        }catch (e) {
          this.$bus.$emit('loading-close');
          let response = e.response;
          if(response.status === 422){
            if(response.data.password){
              this.errorAlert(response.data.password[0]);
            }
            if(response.data.email){
              this.errorAlert(response.data.email[0]);
            }
          }else{
            this.errorAlert(e)
          }
        }
         */
      } else {
        this.errorAlert(this.$t('alerts.form_errors'))
      }
    },
    showModalRegister(){
      this.$bvModal.show('modal-register')
    },
    showModalRecover(){
      this.$bvModal.show('modal-recover-account')
    },
    async loginWithGoogle(){
      try{
        await this.$auth.loginWith('social')
        this.$bus.$emit('loading');
        //console.log(resp)
      }catch (e) {
        console.log(e)
        if(!e.error) {
          this.errorAlert(e)
        }
      }
      /*
      try {
        const googleUser = await this.$gAuth.signIn();
        let data = {
          email: googleUser.getBasicProfile().zu,
          google_token: googleUser.getAuthResponse().id_token,
          language_id: LANGUAGES.findByAcronym(this.$i18n.locale)
        };
        const respuesta = await this.$services.AuthService.loginGoogle(data);
        localStorage.setItem('user',JSON.stringify(respuesta.data.user));
        localStorage.setItem('token', respuesta.data.access_token);
        window.location.reload();
      }catch (e) {
        console.log(e)
        if(!e.error) {
          this.errorAlert(e)
        }
      }
       */
    },
    async loginWithGoogle2(token){
      try{
        await this.$auth.loginWith('laravelJWT', {
          data: {
            language_id: this.langSelected.key,
            google_token: token
          }
        })
        this.$bus.$emit('loading-close');
        window.location.reload()
        //this.$router.push(this.localePath('/'));
        //console.log(response.data.access_token)
      }catch (e){
        this.$bus.$emit('loading-close');
        this.errorAlert(e)
      }
    }
  },
  computed:{

  },
  mounted() {
    this.langSelected = this.langs.find(item => {
      return item.key === this.$i18n.locale;
    })
    let routeToken = this.$route.hash;
    if(routeToken){
      this.$bus.$emit('loading');
      routeToken = routeToken.split("&");
      routeToken = routeToken[1];
      routeToken = routeToken.split("=");
      routeToken = routeToken[1];
      this.loginWithGoogle2(routeToken);
    }
  }
}
</script>
