<template>
    <div>
        <hr class="mt-0">
        <transition name="slide-fade"
                    mode="out-in">
        <div v-if="step === 1">
            <ValidationObserver ref="observer" tag="form" @submit.prevent="onSubmit">
                <ValidationProvider rules="required|email" v-slot="{ errors }" name="email">
                    <b-form-group
                            :label="$t('formNames.email')"
                            label-for="input-1">
                        <b-form-input
                                id="input-1"
                                v-model="form.email"
                                type="email"
                                required>
                        </b-form-input>
                    </b-form-group>
                    <small class="text-danger">{{errors[0]}}</small>
                </ValidationProvider>
                <div class="row align-items-center justify-content-center mt-4">
                    <b-button type="submit" variant="primary" class="ml-3">{{$t('buttons.submit_code')}}</b-button>
                </div>
            </ValidationObserver>
        </div>
        <div v-if="step === 2">
            <p>{{$t('auth.enter_verification_code')}}</p>
            <ValidationObserver ref="observer2" tag="form" @submit.prevent="onSubmitCode">
                <ValidationProvider rules="required|numeric|digits:6" v-slot="{ errors }" name="code">
                    <b-form-group :label="$t('formNames.code')" label-for="input-2">
                        <b-form-input
                                id="input-2"
                                v-model="form.code"
                                required
                                type="number">
                        </b-form-input>
                    </b-form-group>
                    <small class="text-danger">{{errors[0]}}</small>
                </ValidationProvider>
                <hr class="my-4">
                <div class="row align-items-center">
                    <b-button type="submit" variant="primary" class="ml-3">{{$t('buttons.submit')}}</b-button>
                </div>
            </ValidationObserver>
        </div>
        </transition>
    </div>
</template>

<script>

    export default {
        name: 'RecoverAccountForm',
        data() {
            return {
                form:{
                    email:"",
                    code:"",
                },
                step:1
            }
        },
        methods:{
            async onSubmit(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    this.$bus.$emit('loading');
                    try{
                        await this.$services.AuthService.recoverAccount(this.form);
                        this.step = 2;
                        this.$bus.$emit('loading-close');
                        this.$refs.observer.reset()
                    }catch (e) {
                        this.$bus.$emit('loading-close');
                        this.errorAlert(e)
                    }
                } else {
                    this.errorAlert(this.$t('alerts.form_errors'))
                }
            },
            async onSubmitCode(){
                let pasoValidacion = await this.$refs.observer2.validate();
                if (pasoValidacion) {
                    this.$bus.$emit('loading');
                    try{
                        const respuesta =  await this.$services.AuthService.verifyCodeRecoverAccount(this.form);
                        console.log(respuesta);
                        this.$auth.setUser(respuesta.data.user);
                        this.$auth.setUserToken(respuesta.data.access_token);
                        window.location.reload()
                        //TODO: AQUÍ TENGO QUE HACER UN SET DEL TOKEN Y DEL USER - EL MÉTODO LOGGINWITH NO SERVIRÁ
                        //await this.$auth.loginWith('laravelJWT', { data: this.form })
                        //this.$router.push(this.localePath('/'));
                    }catch (e) {
                        this.$bus.$emit('loading-close');
                        this.errorAlert(e)
                    }
                } else {
                    this.errorAlert(this.$t('alerts.form_errors'))
                }
            }
        }
    }
</script>
