<template>
    <div>
        <hr class="mt-0">
        <ValidationObserver ref="observer" tag="form" @submit.prevent="onSubmit">
            <ValidationProvider rules="required|email" v-slot="{ errors }" name="email">
                <b-form-group
                        :label="$t('formNames.email')"
                        label-for="input-1">
                    <b-form-input
                            id="input-1"
                            v-model="form.email"
                            type="email"
                            required>
                    </b-form-input>
                </b-form-group>
                <small class="text-danger">{{errors[0]}}</small>
            </ValidationProvider>

            <ValidationProvider rules="required|min:6" v-slot="{ errors }" name="password" vid="password">
                <b-form-group id="input-group-2" :label="$t('formNames.password')" label-for="input-2" class="mt-3">
                    <b-form-input
                            id="input-2"
                            v-model="form.password"
                            required
                            type="password"
                    >
                    </b-form-input>
                </b-form-group>
                <small class="text-danger">{{errors[0]}}</small>
            </ValidationProvider>

            <ValidationProvider rules="required|confirmed:password|min:6" v-slot="{ errors }" name="password_confirmation">
                <b-form-group :label="$t('formNames.password_confirmation')"  label-for="input-password-2" class="mt-3">
                    <b-form-input
                            id="input-password-2"
                            v-model="form.password_confirmation"
                            required
                            type="password"
                    >
                    </b-form-input>
                </b-form-group>
                <small class="text-danger">{{errors[0]}}</small>
            </ValidationProvider>
            <hr class="my-4">
            <div class="row align-items-center">
                <b-button type="button" variant="secondary">{{$t('buttons.cancel')}}</b-button>
                <b-button type="submit" variant="primary" class="ml-3">{{$t('buttons.submit')}}</b-button>
            </div>
        </ValidationObserver>
    </div>
</template>

<script>
    import {LANGUAGES} from "~/globals/globals";

    export default {
        name: 'RegisterForm',
        data() {
            return {
                form:{
                    email:"",
                    password:"",
                    password_confirmation:"",
                    language_id:"1"
                },
            }
        },
        methods:{
            async onSubmit(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    this.$bus.$emit('loading');
                    try{
                        await this.$services.AuthService.register(this.form);
                        await this.$auth.loginWith('laravelJWT', { data: this.form })
                        //this.$bus.$emit('loading-close');
                        //this.$router.push({path:'/'});
                        //localStorage.setItem('user',JSON.stringify(respuesta.data.user));
                        //localStorage.setItem('token', respuesta.data.access_token);
                        window.location.reload();
                    }catch (e) {
                        this.$bus.$emit('loading-close');
                        let response = e.response;
                        if(response.status === 422){
                            if(response.data.password){
                                this.errorAlert(response.data.password[0]);
                            }
                            if(response.data.email){
                                this.errorAlert(response.data.email[0]);
                            }
                        }else{
                            this.errorAlert(e)
                        }
                    }
                } else {
                    this.errorAlert(this.$t('alerts.form_errors'))
                }
            },
        },
        mounted(){
            this.form.language_id = LANGUAGES.findByAcronym(this.$i18n.locale);
        },
        computed:{

        }
    }
</script>
