<template>
    <div>
        <transition name="fade"
                    mode="out-in">
            <div v-if="isLoading" class="p-5 d-flex justify-content-center align-items-center">
                <vue-loaders name="ball-spin-fade-loader" color="#FBBC06"></vue-loaders>
            </div>
            <ValidationObserver v-if="!isLoading" ref="observer" tag="form" @submit.prevent="onSubmit">
                <div class="row">
                    <div class="col col-12 px-1 mt-3">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="occupation">
                            <b-form-group
                                    :label="$t('formNames.occupation')"
                                    label-for="input-country">
                                <v-select class="custom-autocomplete"
                                          label="name"
                                          :reduce="occupation => occupation.id"
                                          v-model="form.occupation_id"
                                          :options="occupations"></v-select>
                            </b-form-group>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                </div>
                <div class="row align-items-center mt-5">
                    <b-button type="submit" variant="primary btn-sm ml-2">{{$t('buttons.submit')}}</b-button>
                </div>
            </ValidationObserver>
        </transition>
    </div>
</template>

<script>
    export default {
        name: 'ChooseOccupationForm',
        components: {},
        data() {
            return {
                isLoading: true,
                occupations:[],
                form:{
                    occupation_id:""
                }
            }
        },
        props:[],
        mounted() {
            this.getOccupations()
        },
        methods:{
            async getOccupations(){
                this.isLoading = true;
                try {
                    let resp = await this.$services.OccupationService.getOccupations();
                    this.isLoading = false;
                    this.occupations = resp.data;
                }catch (e) {
                    this.isLoading = false;
                    this.errorAlert(e)
                }
            },
            async onSubmit(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    this.isLoading = true;
                    try {
                        await this.$services.UserOccupationService.addUserOccupation(this.form.occupation_id);
                        this.isLoading = false;
                        this.$router.push(this.localePath('/dashboard/occupations/'+this.form.occupation_id))
                    }catch (e) {
                        this.isLoading = false;
                        this.errorAlert(e)
                    }
                } else {
                    this.errorAlert(this.$t('alerts.form_errors'))
                }
            },
        },
        computed:{

        }
    }
</script>

