<template>
  <div>
    <b-modal id="modal-upload-image" :title="$t('pages.profile.upload_image')" centered hide-footer>
      <change-avatar-form />
    </b-modal>
    <h1 class="heading mb-5">{{$t('pages.profile.label')}}</h1>
    <div class="row mb-5">
      <div class="col col-12 col-lg-3 p-2">
        <b-card class="d-flex align-items-center justify-content-center text-center py-3">
          <div>
            <div class="div-image rounded-circle mb-3" :style="'background-image: url('+profileImg+'); width: 120px; height: 120px;'" ></div>
            <a href="javascript:void(0)" @click="$bvModal.show('modal-upload-image')">{{$t('pages.profile.upload_image')}}</a>
          </div>
        </b-card>
      </div>
      <div class="col col-12 col-lg-9 p-2">
        <b-card>
          <h2 class="heading2">{{$t('pages.profile.personal_info')}}</h2>
          <hr class="mb-5">
          <profile-form />
          <h2 class="heading2 mt-5">{{$t('pages.profile.security')}}</h2>
          <hr class="mb-3">
          <change-password-form />
        </b-card>
        <b-card class="mt-4" id="comments-card">
          <h2 class="heading2">{{$t('pages.profile.comments_and_ratings')}}</h2>
          <hr class="mb-2">
          <comments-list />
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>

import ProfileForm from "@/components/profile/ProfileForm";
import ChangePasswordForm from "@/components/profile/ChangePasswordForm";
import ChangeAvatarForm from "@/components/profile/ChangeAvatarForm";
import CommentsList from "@/components/profile/CommentsList";
export default {
  name: 'Profile',
  components: {CommentsList, ChangeAvatarForm, ChangePasswordForm, ProfileForm},
  data() {
    return {
      form:{
        password:""
      }
    }
  },
  props:[],
  computed:{
    profileImg(){
      return this.userAuth.avatar?this.userAuth.avatar:require('@/assets/images/user_default.png')
    },
  },
  mounted() {

  },
}
</script>

