<template>
  <div>
    <h1 class="heading mb-5">{{$t('pages.balance.label')}}</h1>
    <div class="row mb-5">
      <div class="col col-12 col-lg-3 p-2">
        <b-card class="text-center py-3">
          <p class="mb-0">{{$t('pages.balance.current_balance')}}</p>
          <p class="text-strong text-dark"><span class="heading">{{totalTokens}}</span> TKNS</p>
          <hr>
          <b-button type="button" @click="openModalRefill" variant="primary btn-block btn-sm mb-2">{{$t('buttons.fill')}}</b-button>
          <b-button type="button" variant="secondary btn-block btn-sm">{{$t('buttons.withdraw')}}</b-button>
        </b-card>
      </div>
      <div class="col col-12 col-lg-9 p-2">
        <b-card>
          <h2 class="heading2">{{$t('pages.balance.tokens_since_withdrawal')}}</h2>
          <p class="mb-0">{{$t('pages.balance.previous_balance')}}: {{details.previousBalance}}</p>
          <p class="mb-0" v-if="details.lastTokenWithDrawel">{{$t('pages.balance.last_withdrawal')}}: {{details.lastTokenWithDrawel}}</p>
          <hr class="mb-3">
          <transition name="fade"
                      mode="out-in">
            <div v-if="isLoading" class="p-5 d-flex justify-content-center align-items-center">
              <vue-loaders name="ball-spin-fade-loader" color="#FBBC06"></vue-loaders>
            </div>
            <div v-if="!isLoading" class="row">
              <div class="col col-12 col-md-6 col-lg-3 px-0">
                <p class="mb-1">{{$t('pages.balance.messages')}}</p>
                <p class="text-strong text-success mb-0">+ {{details.totalTokensMessagesInto}}</p>
                <p class="text-strong text-danger">- {{details.totalTokensMessagesOut}}</p>
              </div>
              <div class="col col-12 col-md-6 col-lg-3 px-0">
                <p class="mb-1">{{$t('pages.balance.calls')}}</p>
                <p class="text-strong text-success mb-0">+ {{details.totalTokensCallInto}}</p>
                <p class="text-strong text-danger">- {{details.totalTokensCallOut}}</p>
              </div>
              <div class="col col-12 col-md-6 col-lg-3 px-0">
                <p class="mb-1">{{$t('pages.balance.video_calls')}}</p>
                <p class="text-strong text-success mb-0">+ {{details.totalTokensVideoCallInto}}</p>
                <p class="text-strong text-danger">- {{details.totalTokensVideoCallOut}}</p>
              </div>
              <div class="col col-12 col-md-6 col-lg-3 px-0">
                <p class="mb-1">{{$t('pages.balance.refills')}}</p>
                <p class="text-strong text-success">+ {{details.tokesRefills}}</p>
              </div>
            </div>
          </transition>
        </b-card>
        <b-card class="mt-4">
          <b-tabs content-class="mt-3">
            <b-tab :title="$t('pages.balance.contracts')" active>
              <tokens-contracts />
            </b-tab>
            <b-tab :title="$t('pages.balance.refills')+' & '+$t('pages.balance.withdrawals')">
              <tokens-refills />
            </b-tab>
          </b-tabs>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import TokensContracts from "@/components/tokens/TokensContracts";
import TokensRefills from "@/components/tokens/TokensRefills";
import {mapState} from "vuex";

export default {
  name: 'Tokens',
  components: {TokensRefills, TokensContracts},
  data() {
    return {
      form:{
        password:""
      },
      isLoading: true,
      details:{
        lastTokenWithDrawel: null,
        previousBalance: 0,
        tokesRefills: 0,
        totalTokensCallInto: 0,
        totalTokensCallOut: 0,
        totalTokensMessagesInto: 0,
        totalTokensMessagesOut: 0,
        totalTokensVideoCallInto: 0,
        totalTokensVideoCallOut: 0,
      }
    }
  },
  props:[],
  mounted() {
    this.getDetails();
  },
  computed:{
    ...mapState(['totalTokens'])
  },
  methods:{
    async getDetails(){
      this.isLoading = true;
      try {
        let resp = await this.$services.TokenBuyService.tokensFromLastWithdrawal();
        this.details = resp.data;
        this.isLoading = false;
      }catch (e) {
        this.isLoading = false;
        this.errorAlert(e)
      }
    },
    openModalRefill(){
      this.$bus.$emit('open-refill-modal')
    }
  }
}
</script>

