.sidebar{
  width: 250px;
  box-shadow: 10px 0 20px rgba(0,0,0,.1);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: white;
  transition: all .6s;
  transition-timing-function: cubic-bezier(0,1.03,.63,1.26);
  overflow-y: scroll;
  padding: 50px 0;
  z-index: 10;
  &.collapsed{
    left: -250px;
  }
  &::-webkit-scrollbar {
    display: none !important;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

}


.custom-border-effect {
  border: 0;
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 100%;
  }
  &::before {
    border: 2px solid #F6F4FC;
  }
  &:hover::before {
    border-top-color: var(--main-yellow);
    border-right-color: var(--main-yellow);
    border-bottom-color: var(--main-yellow);
    transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s;
  }
  &::after {
    border: 0 solid transparent;
  }
  &:hover::after {
    border-top: 2px solid var(--main-yellow);
    border-left-width: 2px;
    border-right-width: 2px;
    transform: rotate(270deg);
    transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
  }
}

.custom-menu{
  list-style-type: none;
  padding: 0;
  margin: 0;
  &__item{
    position: relative;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      background: $lightBlue;
    }
    a{
      color: $darkText;
      padding: 15px 30px;
      display: block;
      &::after{
        content: '';
        position: absolute;
        right: 20px;
        top: 23px;
        border: solid $darkText;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transition: all .3s;
      }
      &.active{
        color: $mainYellow;
        &::after{
          border-color: $mainYellow;
        }
      }
      &:hover{
        text-decoration: none;
        &::after{
          right: 10px;
        }
      }
    }
  }
}
